@import "/src/scss/color";
@import "/src/scss/typography";
@import "/src/scss/customize";

$pj-incentive-font: (
  sm: $pj-label-md,
  lg: $pj-label-lg,
);
$pj-incentive-measurement: (
  sm: (
    height: 24px,
    padding: 3px 6px 3px 6px,
    radius: 4px,
  ),
  lg: (
    height: 32px,
    padding: 4px 8px 4px 8px,
    radius: 6px,
  ),
);
$pj-incentive-style: (
  bg: map-get($pj-success, 50),
  fg: map-get($pj-success, 800),
);

@each $size in $pj-size-2level {
  .pj-incentive.#{$size} {
    font: map-get($pj-incentive-font, $size);
    @include pjMeasurementWithMapExt($pj-incentive-measurement, $size);
    @include pjColorWithMapExt($pj-incentive-style);
  }
}
