<div class="am-input-data-cell flex flex-row gap-2 items-center" pjPressable>
  <pj-perfix-input class="text-input" [leftPerfixSign]="getLeftPerfixSign()" [pjSize]="'md'" [formControl]="valueFormcontrol()"
  [entryConfig]="{error:isValueError(),placeholder:getPlaceholder(),assistiveText:getAssistiveText()}"  [textEntryType]="'noborder'"  (click)="edit()"
  (enterKeyPressed)="setTempValue($event)" (focusout)="trySetValue($event)" 
  ></pj-perfix-input>
  <pj-button-icon *ngIf="isFocus()" [btnType]="'filled'" pjSize="md" pjColor="secondary" [iconName]="'check'"
  (click)="outputValue()"></pj-button-icon>
  <pj-button-inline *ngIf="!isFocus()" [label]="getButtonLable()" pjSize="lg" pjColor="secondary"
  (click)="buttonClicked()"></pj-button-inline>
</div>
