@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-data-label-value-font: (
  title: $pj-strong-2,
  label: $pj-body-2,
  value: $pj-body-2,
  emphasis: (
    title: $pj-strong-2,
    label: $pj-strong-2,
    value: $pj-strong-2,
  ),
);
$pj-data-label-value-style: (
  title: (
    fg: map-get($pj-primary, 600),
  ),
  label: (
    fg: map-get($pj-primary, 600),
  ),
  value: (
    fg: map-get($pj-primary, 800),
  ),
  emphasis: (
    title: (
      fg: map-get($pj-primary, 600),
    ),
    label: (
      fg: map-get($pj-primary, 900),
    ),
    value: (
      fg: map-get($pj-primary, 900),
    ),
  ),
);

.pj-data-label-value {
  @each $part in (title, label, value) {
    & .#{$part} {
      font: map-get($pj-data-label-value-font, $part);
      @include pjColorWithMapExt($pj-data-label-value-style, $part);
    }
    & .#{$part}.emphasis {
      font: map-get(map-get($pj-data-label-value-font, emphasis), $part);
      @include pjColorWithMapExt($pj-data-label-value-style, emphasis, $part);
    }
  }
}
