<div class="pj-phone-entry flex flex-col justify-start gap-1" pjDefaultSize="md" [ngClass]="getDisableClass()">
  <div *ngIf="hasLabel(inputElm)" class="label" [ngClass]="getTextClass()">
    {{ getLabel() }}
  </div>
  <div class="content flex flex-row items-center">
    <div class="leftPerfixSign flex flex-row gap-1 items-center">
      <div class="z-0" *ngIf="hasLeftPerfixSign()">{{getLeftPerfixSign()}}</div>
      <pj-icon [iconName]="'expand_more'"></pj-icon>
    </div>
    <div class="pj-phone-entry-box flex flex-row items-center z-10" [ngClass]="getTextClass()" [ngStyle]="getPaddingX()"
      (click)="onInputFocus(inputElm)">
      <div class="flex-grow flex relative">
        <input #inputElm class="inputArea" type="{{ getTextType() }}" (keydown.enter)="onEnterKeyPress()"
          [formControl]="getFormControl()" (focus)="onInputFocus()" (blur)="onInputFocuseOut()"
          [maxLength]="getMaxLength()" [placeholder]="getPlaceholder()" phoneNumberForm />
      </div>
      <!-- <div class="flex-grow flex flex-col relative">
        <div *ngIf="hasInnerLabel()" class="innerLabel">{{ getLabel() }}</div>
        <input #inputElm class="inputArea" type="{{ getTextType() }}" (keydown.enter)="onEnterKeyPress()"
          [formControl]="getFormControl()" (focus)="onInputFocus()" (blur)="onInputFocuseOut()"
          [maxLength]="getMaxLength()" [placeholder]="getPlaceholder()" />
      </div> -->
      <pj-icon class="flex-grow-0 icon" *ngIf="!hasShowPasswordBtn()" [ngClass]="getErrorIconClass()"
        [iconName]="'error'"></pj-icon>
      <pj-icon class="flex-grow-0 showPasswordIcon" *ngIf="hasShowPasswordBtn()" [iconName]="getShowPasswordIconName()"
        (click)="onShowPasswordBtnClick($event)"></pj-icon>
    </div>
  </div>
  <div class="assistiveText" [ngClass]="getAssistiveTextClass()" *ngIf="hasAssistiveText()">
    {{ getAssistiveText() }}
  </div>
  <div class="assistiveText" [ngClass]="getErrorMsgClass()" *ngIf="hasErrorMsg()">
    {{ getErrorMsg() }}
  </div>
</div>
