@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-reset-password-part:(label);
$pj-reset-password-font:(label: $pj-h5);
$pj-reset-password-style:(
    label: (fg: map-get($pj-primary, 600)),
);

.pj-reset-password {
    @each $part in $pj-reset-password-part {
        & .#{$part} {
            font: map-get($pj-reset-password-font, $part);
            @include pjColorWithMapExt($pj-reset-password-style, $part);
        }
    }
}
