@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-breadcrumb-font: $pj-body-2;

$pj-breadcrumb-style: (
  fg: map-get($pj-secondary, 600),
  triIcon: (fg: map-get($pj-primary, 300)),
  hover: (
    fg: map-get($pj-secondary, 600),
  ),
  pressed: (
    fg: map-get($pj-secondary, 800),
  ),
  focused: (
    fg: map-get($pj-primary, 900),
  ),
);

.pj-breadcrumb {
  height: 24px;
  @include pjColorWithMapExt($pj-breadcrumb-style);
  font: $pj-breadcrumb-font;
  & .item {
    cursor: pointer;
    & .triIcon {
      @include pjColorWithMapExt($pj-breadcrumb-style, triIcon);
    }
    &:hover {
      @include pjColorWithMapExt($pj-breadcrumb-style, hover);
      & .label {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
    &.pressed {
      @include pjColorWithMapExt($pj-breadcrumb-style, pressed);
      & .label {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
    &:last-child {
      pointer-events: none;
      & .label {
        @include pjColorWithMapExt($pj-breadcrumb-style, focused);
      }
    }
  }
}
