<div class="pj-breadcrumb flex flex-row items-center">
  <pj-icon class="cursor-pointer" style="font-size: 24px" [iconName]="'home'" (click)="onHomeIconClick()"></pj-icon>
  <div class="flex flex-row items-center">
    <div class="item flex flex-row items-center" pjPressable *ngFor="let crumbItem of breadcrumbs"
      (click)="onItemClick(crumbItem)">
      <pj-icon class="triIcon mx-2" style="font-size: 16px" [iconName]="'keyboard_arrow_right'"></pj-icon>
      <div class="label">{{ getLabel(crumbItem) }}</div>
    </div>
  </div>
</div>
