@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-table-font: (datatable-header: $pj-label-xl,
  text:$pj-body-2,
  date:$pj-body-2,
  time:$pj-small,
  text-xs:$pj-body-2,
  text-sm:$pj-small,
);

$pj-table-measurement: (
  // datatable-body:(height:600px),
  page-index:(width:70px),
);

$pj-table-style: (bg: $pj-white,
  bd: map-get($pj-neutral, 50),
  datatable-header: (fg: map-get($pj-neutral, 800),
  ),
  text: (fg:map-get($pj-neutral, 600)),
  date:(fg:map-get($pj-neutral, 800)),
  time:(fg:map-get($pj-neutral, 400)),
  text-xs:(fg:map-get($pj-neutral, 400)),
  text-sm:(fg:map-get($pj-neutral, 400)),
  warn:(fg:map-get($pj-error, 300)),
);


.pj-table {
  border-style: solid;
  @include pjMeasurementWithMapExt($pj-table-measurement);
  @include pjColorWithMapExt($pj-table-style);

  @each $part in (datatable-header, datatable-body, text, page-index, date, time, text-xs, warn, text-sm) {
    & .#{$part} {
      font: map-get($pj-table-font, $part);
      @include pjColorWithMapExt($pj-table-style, $part);
      @include pjMeasurementWithMapExt($pj-table-measurement, $part);
    }
  }

}


element.style {
  width: 120px;
  height: 90px;
}


.datatable-body-cell {
  background: $pj-white;
  overflow: visible !important;
}

.datatable-body {
   min-height: 400px;
  // height: calc(100vh - 200px);
}
.iconDropdown{
  min-height: 56px;
}

.datatable-header {
  position: relative;
  overflow: visible !important;
  z-index: 100;

  .datatable-header-cell {
    display: block;
    margin: auto;
    overflow: visible !important;
    background: $pj-white;
  }
}

.datatable-header-wrapper {
  height: 58px;
}


.datatable-row-wrapper:hover {
  .datatable-body-cell {
    background: map-get($pj-neutral, 10);
  }
}

.datatable-row-wrapper {
  border-top: 1px solid map-get($pj-neutral, 50);
  background: $pj-white;
}

.checkedRow .datatable-body-cell {
  background: map-get($pj-secondary, 50);
}

.hCenter {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.vCenter {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hBreak {
  word-break: break-all;
  overflow-wrap: break-word;
}



.footer-box {
  height: 100%;
  align-items: start !important;
  overflow: visible !important;
  z-index: 100 !important;
}

.zindex10 {
  z-index: 10;
}

.zindex100 {
  z-index: 100;
}

.button-in-line {
  max-width: 320px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.sub-title {
  font: $pj-small;
}

.text {
  max-width: 320px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.scrollBar{
  display: none;
  position: fixed;
  bottom:150px;
  overflow: auto;
  white-space: nowrap;
  width:100%;
  height: 10px;
}
.scrollBar:hover{
  display: block;
}