<div class="pj-table flex flex-col gap-8">
  <ngx-datatable #mydatatable class="material" [headerHeight]="getHeaderHeight()" [footerHeight]="getFooterHeight()"
    [columnMode]="ColumnMode.standard" rowHeight="auto" [rows]="getRows()" [scrollbarH]="true"
    [treeFromRelation]="getTreeFromRelation()" [treeToRelation]="getTreeToRelation()" [rowHeight]="getRowHeight()"
    [rowClass]="checkedWholeRows">

    <ngx-datatable-column class="checkIconColumn" *ngIf="hasCheckIcon()" name="rowChecked" [width]="50"
      [sortable]="false" [frozenLeft]="isCheckFrozen()" [resizeable]="false">
      <ng-template class=" vCenter" ngx-datatable-header-template>
        <pj-checkbox [particialCheck]="isPartSelected()" [checked]="isAllChecked()" (click)="allRowsSelected()">
        </pj-checkbox>
      </ng-template>

      <ng-template class=" vCenter" ngx-datatable-cell-template let-value="value" let-row="row">
        <pj-checkbox class="rowCheckIcon vCenter" *ngIf="hasRowCheckIcon(row)" [checked]="getChecked(row)"
          [particialCheck]="isTermsPartSelected(row)" (click)="onCheckClick(row,value)"></pj-checkbox>
      </ng-template>

    </ngx-datatable-column>
    <!-- </ngx-datatable-column> 此处无[columnClass]="checkedWholeColumns()"属性 -->
    <ngx-datatable-column class=" vCenter m-2" *ngFor="let item of getColumns()" name="{{item.dataName}}"
      [width]="item.columnWidth||100" [frozenLeft]="item.frozen" [isTreeColumn]="isTreeColumn(item)"
      [resizeable]="false">
      <ng-template ngx-datatable-header-template class="header headerCell">
        <div *ngIf="!isHeaderChangeable(item.headerChangeable)">
          <p>{{item.columnTitle}}</p>
          <p class="sub-title">{{item.columnTitleExplain}}</p>
        </div>

        <!-- <pj-text-entry *ngIf="isHeaderChangeable(item.headerChangeable)" [entryConfig]="{placeholder:item.columnTitle}"
          [textEntryType]="'noborder'" [formControl]="getHeaderLable(item.columnTitle)"
          (enterKeyPressed)="saveHeader($event,item.columnTitle)" (focusout)="trySaveHeader($event,item.columnTitle)">
        </pj-text-entry> -->

        <pj-input-dropdown-cell class="zIndex100" *ngIf="isHeaderChangeable(item.headerChangeable)"
          [cellInfo]="item.columnTitle" (setValue)="saveHeader($event,item.columnTitle)"
          (deleteColumn)="deleteThisColumn($event,item.columnTitle)"></pj-input-dropdown-cell>
      </ng-template>

      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <!-- 该列为图片列 -->
        <div class="vCenter">
          <pj-image *ngIf="isPjImage(item.columnComponent)"
            [imageData]="{width:56,height:56,imageType:'rectangle',imageSrc:getImageInfo(row,item.dataName)}"
            class="w-14">
          </pj-image>
        </div>
        <!-- 该列为 icons 最多可以有两个icons 如果数据中最多有两个这两个都正常显示，如果有多2个，第一个正常显示，其余的隐藏在第二个里面，第二个为三个点  -->
        <div *ngIf="isPjButtonIcon(item.columnComponent)" class="flex flex-row gap-2 vCenter">
          <pj-button-icon *ngIf="hasFirstButtonIcon(row,item.dataName)" btnType="filled" pjColor="neutral" pjSize="md"
            [iconName]="getIconForFirstButton(row,item.dataName)" (click)="clickFirstActionButton(row,item.dataName)">
          </pj-button-icon>
          <pj-button-icon *ngIf="hasSecondButtonIcon(row,item.dataName)" btnType="filled" pjColor="neutral" pjSize="md"
            [iconName]="getIconForSecondButton(row,item.dataName)" (click)="clickSecondActionButton(row,item.dataName)">
          </pj-button-icon>
          <pj-button-cta *ngIf="hasButton(row, item.dataName)" pjSize="md" label="{{getButtonName(row,item.dataName)}}"
            [btnType]="'text'" [leftIconName]="getBtnLeftIconName(row, item.dataName)"
            (click)="gotoRowItemLink(row,getButtonName(row,item.dataName))">
          </pj-button-cta>
          <div *ngIf="hasMoreVertIcon(row,item.dataName)">
            <pj-button-icon btnType="filled" pjColor="neutral" pjSize="md" [iconName]="'more_vert'"
              [dropdownElm]="actionElm" (click)="onMenuClick(row)">
            </pj-button-icon>

            <pj-dropdown class="zIndex100 iconDropdown" #actionElm [menuItems]="getMenuItems(row,item.dataName)"
              [dropdownType]="'option'" (itemClicked)="onIconDropdownItemClick($event, row)">
            </pj-dropdown>
          </div>
        </div>
        <!-- 该列为自定义（自己找varients）variant列 -->
        <div class="flex flex-row items-center justify-around gap-4 vCenter"
          *ngIf="isVariant(row,item.dataName,item.columnComponent)">
          <pj-button-inline *ngIf="showRowVariant(row,item.dataName)" pjSize="md" pjColor="secondary"
            (click)="variantButtonClick(row)" [label]="getVariantAndNumber(row)"
            [leftIconName]="getVarantLeftIconName(row)">
          </pj-button-inline>
        </div>

        <!-- 该列为输入框与button和列 -->
        <div class="flex flex-row items-center justify-around gap-4 vCenter"
          *ngIf="isPjPerfixInputAndButton(row,item.dataName,item.columnComponent)">

          <pj-perfix-input class="w-32" [leftPerfixSign]="getLeftPerfixSign(row,item.dataName)" [pjSize]="'md'"
            [formControl]="row[item.dataName+'Formcontrol']!" (enterKeyPressed)="saveInput(row,$event,item.dataName)"
            (focusout)="trySaveInput(row,$event,item.dataName)">
          </pj-perfix-input>

          <pj-button-inline pjSize="md" pjColor="{{getHistoryColors()}}" (click)="textEntryButtonClick(row)"
            [label]="getTBButtonInfo()">
          </pj-button-inline>
        </div>
        <!-- 该列为Perfix输入框列 -->
        <pj-perfix-input class="vCenter w-32" *ngIf="isPjPerfixInput(row,item.dataName,item.columnComponent)"
          [pjSize]="'md'" [leftPerfixSign]="getLeftPerfixSign(row,item.dataName)"
          [formControl]="row[item.dataName+'Formcontrol']!" (enterKeyPressed)="saveInput(row,$event,item.dataName)"
          (focusout)="trySaveInput(row,$event,item.dataName)">
        </pj-perfix-input>

        <!-- 该列为Show-input输入框列 -->
        <pj-text-entry class="flex-grow vCenter" *ngIf="isShowInput(row,item.dataName,item.columnComponent)"
          [pjSize]="'md'" [textEntryType]="'noborder'" [entryConfig]="{placeholder: getPlaceHolder()}"
          [formControl]="row[item.dataName+'Formcontrol']!" (enterKeyPressed)="saveInputText(row,$event,item.dataName)"
          (focusout)="trySaveInputText(row,$event,item.dataName)">
        </pj-text-entry>

        <!-- 该列为进程圆环显示列 -->
        <pj-progress-circle class="vCenter" *ngIf="isAmProgressCircle(item.columnComponent)"
          [percentage]="getPercentage(row,item.dataName)">
        </pj-progress-circle>
        <!-- 该列为进程圆环+文字说明显示列 -->
        <div class="flex flex-row items-center gap-4 vCenter" *ngIf="isAmProgressCircleText(item.columnComponent)">
          <pj-progress-circle [percentage]="getPercentage(row,item.firstDataName)"
            [isNA]="isNone(row,item.secondDataName)">
          </pj-progress-circle>
          <p class="text">{{getCellSecondInfo(row,item.secondDataName)}}</p>
        </div>



        <!-- 该列为badge列 -->
        <pj-badge class="vCenter" *ngIf="isPjBandge(row,item.dataName,item.columnComponent)"
          [label]="getCellInfo(row,item.dataName)" pjSize="sm" class="vCenter" pjColor="{{getStatusColors(value)}}">
        </pj-badge>

        <!-- 该列为button-link text列 -->
        <div *ngIf="isLinkGeneric(item.columnComponent)"
          class="text-xs flex flex-col gap-2 item-end vCenter text-clip overflow-hidden">
          <pj-link-generic class="button-in-line" pjColor="secondary" [linkType]="'strong'"
            (click)="gotoRowItemLink(row,item.firstDataName)">
            {{getCellFirstInfo(row,item.firstDataName)}}
          </pj-link-generic>


          <!-- <pj-button-inline class="button-in-line" pjSize="md" pjColor="secondary"
            (click)="gotoRowItemLink(row,item.firstDataName)" [label]="getCellFirstInfo(row,item.firstDataName)">
          </pj-button-inline> -->


          <p *ngIf="showType()" class="text">{{getCellSecondInfo(row,item.secondDataName)}}</p>
        </div>

        <!-- 该列为two-text text列 -->
        <div *ngIf="isTwoLinesText(item.columnComponent)"
          class="text-xs flex flex-col gap-2 item-end vCenter text-clip overflow-hidden">
          <p class="text">{{getCellFirstInfo(row,item.firstDataName,item.dataType)}}</p>
          <p class="text-sm">{{getCellSecondInfo(row,item.secondDataName,item.dataType)}}</p>
        </div>

        <!-- 该列为button-link warning列 -->
        <div *ngIf="isLinkGenericWarning(item.columnComponent)"
          class="text-xs flex flex-row gap-2 items-center vCenter">
          <pj-button-inline class="w-8" pjSize="md" pjColor="secondary"
            (click)="gotoRowItemLink(row,item.firstDataName)" [label]="getCellFirstInfo(row,item.firstDataName)">
          </pj-button-inline>
          <pj-icon class="warn" *ngIf="showWarning(row,item.secondDataName)" [iconName]="'error_outline'"></pj-icon>

        </div>

        <!--text + edit-icon 参照平常文字 -->
        <div *ngIf="isPjTextEdit(row, item.columnComponent, item.dataName)" class="vCenter">
          <div *ngIf="!onEdit(row,item.dataName)" class="flex flex-row">
            <div class="text w-28">{{getCellInfo(row,item.dataName)}}</div>
            <pj-button-icon btnType="filled" pjColor="neutral" pjSize="md" iconName="edit"
              (click)="onEditBtnClick(row,item.dataName)">
            </pj-button-icon>
          </div>
          <div *ngIf="onEdit(row,item.dataName)" class="flex flex-row gap-1">
            <pj-text-entry pjSize="md" class="w-28" [entryConfig]="{placeholder: getCellInfo(row,item.dataName)}"
              [formControl]="row[item.dataName+'Formcontrol']" (focusout)="trySaveEditInput(row, $event, item.dataName)"
              (enterKeyPressed)="onSaveInputText(row,$event,item.dataName)">
            </pj-text-entry>
            <pj-button-icon btnType="filled" pjColor="secondary" pjSize="md" iconName="check"
              (click)="onCheckIconClick(row,item.dataName)"></pj-button-icon>
          </div>
          <!-- <pj-click-to-edit-cell [cellInfo]="getCellInfo(row,item.dataName)" 
            [formControl]="row[item.dataName+'Formcontrol']" (setValue)="onSaveInputText(row,$event,item.dataName)">
          </pj-click-to-edit-cell> -->
        </div>


        <!--该列为click to edit 列 -->
        <div *ngIf="isPjClickToEdit(item.columnComponent)">
          <div *ngIf="!isEditSituation(row,item.dataName,item.dataType,item.arrayIndex)"
            class="flex flex-row gap-10 vCenter">
            <div class="text" (click)="onEditTextClick(row,item.dataName,item.dataType,item.arrayIndex)">
              {{getCellInfo(row,item.dataName,item.dataType,item.arrayIndex)}}</div>
          </div>
          <div *ngIf="isEditSituation(row,item.dataName,item.dataType,item.arrayIndex)"
            class="flex flex-row gap-1 vCenter">
            <pj-text-entry pjSize="lg" class="flex w-2/3" [formControl]="row[item.dataName+'Formcontrol']"
              (enterKeyPressed)="saveInputText(row,$event,item.dataName,item.dataType,item.arrayIndex)"
              (focusout)="trySaveInputText(row,$event,item.dataName,item.dataType,item.arrayIndex)"></pj-text-entry>
          </div>
        </div>
        <!--该列为perfixed-input-data-cell 列 -->
        <div class="vCenter" *ngIf="isPerfixedInputDataCell(item.columnComponent,row)">
          <pj-input-data-cell [formControl]="row[item.dataName+'Formcontrol']"
            [error]="isInputError(row,item.dataName,item.dataType,item.mustGreaterThan,item.mustLessThan)"
            [assistiveText]="item.assistiveText" [buttonLabel]="item.buttonLabel"
            (buttonClick)="textEntryButtonClick(row)"
            (setValue)="saveInput(row,$event,item.dataName,item.dataType,true)"></pj-input-data-cell>

        </div>
        <!--该列为autofill-click to edit 列 -->
        <div *ngIf="isPjAutofillClickToEdit(item.columnComponent)">
          <div *ngIf="!isEditSituation(row,item.dataName,item.dataType,item.arrayIndex)"
            class="flex flex-row gap-10 vCenter">
            <div class="truncate-text-line-3"
              (click)="onEditTextClick(row,item.dataName,item.dataType,item.arrayIndex)">
              {{getAutofillCellInfo(row,item.dataName,item.dataType,item.arrayIndex)}}</div>
          </div>
          <div *ngIf="isEditSituation(row,item.dataName,item.dataType,item.arrayIndex)"
            class="flex flex-row gap-1 vCenter">
            <pj-text-entry pjSize="lg" class="flex w-2/3" [formControl]="row[item.dataName+'Formcontrol']"
              (enterKeyPressed)="saveInputText(row,$event,item.dataName,item.dataType,item.arrayIndex)"
              (focusout)="trySaveInputText(row,$event,item.dataName,item.dataType,item.arrayIndex)"></pj-text-entry>
          </div>
        </div>

        <!--该列为input-chip-cell 列 用于Array-->
        <div *ngIf="isAmInputChip(item.columnComponent)" class="h-full flex items-center p-3">
          <pj-input-chip-cell [cellInfo]="getChipText(row,item.dataName,item.dataType,item.arrayIndex)"
            (setValue)="saveInputText(row,$event,item.dataName,item.dataType,item.arrayIndex)"></pj-input-chip-cell>
        </div>
        <!--该列为price-autofill-click to edit 列 -->
        <div *ngIf="isPjInputAutofillClickToEdit(item.columnComponent)">
          <div *ngIf="!isEditSituation(row,item.dataName,item.dataType,item.arrayIndex)"
            class="flex flex-row gap-10 vCenter">
            <div class="text" (click)="onEditTextClick(row,item.dataName,item.dataType)">
              $ {{getPriceAutofillCellInfo(row,item.dataName,item.dataType)}}</div>
          </div>
          <div *ngIf="isEditSituation(row,item.dataName,item.dataType)" class="flex flex-row gap-1 vCenter">
            <pj-perfix-input class="w-32" [pjSize]="'md'" [leftPerfixSign]="getLeftPerfixSign(row,item.dataName)"
              [formControl]="row[item.dataName+'Formcontrol']!" (enterKeyPressed)="saveInput(row,$event,item.dataName)"
              (focusout)="trySaveInput(row,$event,item.dataName)">
            </pj-perfix-input>
          </div>
        </div>

        <!--该列为添加图片,图片可删除列 -->
        <div class="vCenter" *ngIf="isPjImageUploadDelete(item.columnComponent)">
          <pj-file-uploading *ngIf="!hasThisImage(row,item.dataName,item.dataType)" [multipleFiles]="false"
            [fileType]="'image/*'" (base64Content)="onOneImageUploaded($event,row,item.dataName||'',item.dataType)">
            <pj-empty-status [config]="{iconName: 'add', width: 80, height: 80, radius: '8px' }" PjUploadDock>
            </pj-empty-status>
          </pj-file-uploading>
          <pj-image-manage *ngIf="hasThisImage(row,item.dataName)"
            [imageData]="{imageType: 'rectangle', width: 80, height: 80, imageSrc: getThisImage(row,item.dataName||'')}"
            [action1]="{iconName: getPicIcon(row,item.dataName), label:getPicIconName(row,item.dataName)}"
            (action1Click)="deleteThisImage(row,item.dataName)">
          </pj-image-manage>
        </div>



        <!--该列为添加图片列 -->
        <div class="vCenter" *ngIf="isPjImageUpload(item.columnComponent)">
          <pj-file-uploading [multipleFiles]="false" [fileType]="'image/*'"
            (base64Content)="onOneImageUploaded($event,row,item.dataName||'',item.dataType)">
            <pj-image
              [imageData]="{imageType: 'rectangle', width: 56, height: 56, imageSrc: getThisImage(row,item.dataName||'')}"
              PjUploadDock>
            </pj-image>
          </pj-file-uploading>
        </div>
        <!--该列为添加图片dropdown列 -->

        <pj-image-dropdown-upload-cell *ngIf="isPjImageUploadDropdown(item.columnComponent)"
          [imageUri]="getThisImage(row,item.dataName||'')"
          (setImage)="onOneImageUploaded($event,row,item.dataName||'',item.dataType)"
          (chooseImage)="onIconDropdownItemClick({label:'Choose image',iconName:'checklist'}, row)">
        </pj-image-dropdown-upload-cell>

        <!--该列为显示map类型数据列 -->
        <div *ngIf="isPjMapShow(item.columnComponent)" class="text-xs flex flex-col gap-0">
          <div *ngFor="let item of getMapInfo(row,item.dataName)">
            <span>{{item.key}} : </span><span>{{item.value}}</span>
          </div>
        </div>


        <!-- 该列为date-time列 -->
        <div *ngIf="isDateTime(item.columnComponent)">
          <div class="date">{{getDate(row,item.secondDataName)}}</div>
          <div class="time">{{getTime(row,item.secondDataName)}}</div>
        </div>


        <!-- 该列为年月时间ampm列-->
        <div *ngIf="isPjDateTimeAmPm(item.columnComponent)" class="text truncate vCenter ">
          <div class="date">{{getDate(row,item.dataName)}}</div>
          <div class="time">{{getTimeAmPm(row,item.dataName)}}</div>
        </div>

        <!-- 该列为平常文字列 -->
        <div *ngIf="isElse(item.columnComponent)" class="text break-all vCenter " [style.width.px]="item.columnWidth">
          {{getCellInfo(row,item.dataName,item.dataType)}}
        </div>

        <div *ngIf="isShortLine(row,item.dataName,item.columnComponent)" class="short-line vCenter">
          -
        </div>

        <!-- 该列为可展开的有多余属性的tree标志列 -->
        <div *ngIf="isTableTreeColumn(item.dataName,item.columnComponent)">
          <pj-button-inline pjSize="md" pjColor="secondary" (click)="onTableTreeAction(row)"
            [label]="getTreeColConstent(row,item.dataName,item.columnTitle)" [leftIconName]="getTreeLeftIcon(row)">
          </pj-button-inline>
        </div>

      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column class="addNewColumn" *ngIf="canAddNewColumn()" name="addColumn" [width]="250"
      [resizeable]="false">
      <ng-template class=" vCenter" ngx-datatable-header-template>
        <pj-button-icon [iconName]="'add'" (click)="addNewColumn()"></pj-button-icon>
      </ng-template>

      <ng-template class=" vCenter" ngx-datatable-cell-template let-value="value" let-row="row">

      </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-footer class="overflow-visible z-10" *ngIf="hasFooter()">
      <!-- <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"> -->
      <ng-template ngx-datatable-footer-template>
        <div class="footer-box">
          <div class="flex flex-row items-center gap-2" style="padding: 12px 16px; position: relative;">
            <pj-button-icon [iconName]="'chevron_left'" (click)="previousPage()"></pj-button-icon>
            <span>Page</span>
            <pj-text-entry class="page-index flex-grow" [formControl]="pageFormControl!"
              (enterKeyPressed)="gotoPage($event)">
            </pj-text-entry>
            <span>of {{getTotalPage()}}</span>
            <pj-button-icon [iconName]="'chevron_right'" (click)="nextPage()"></pj-button-icon>
            <pj-dropdown-selection class="flex-grow z-50" [item]="{label:'50 rows per page'}"
              [menuItems]="getFooterPageSizeLabel()" (itemClicked)="changePageSize($event)"></pj-dropdown-selection>
            <!-- <span>Showing {{getThisPageTotal(curPage,rowCount,pageSize)}} of {{rowCount}} data rows</span> -->
            <span>Showing {{rows.length}} of {{totalRecords||rows.length}} data rows</span>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>

  <pj-checkbox-group *ngIf="hasTableColSelection()" [items]="getCheckboxItems()" (changeEvent)="onChangeEvent($event)">
  </pj-checkbox-group>
  <div class="scrollBar">
    <div [ngStyle]="getScrollBarWidth()">something</div>
  </div>
</div>