<pj-layout-flex flexClass="flex flex-col items-center gap-4 p-8">
  <h2>Documentation</h2>
  <div class="w-full flex flex-row items-start gap-4">
    <pj-side-menu class="left-menu overflow-y-auto" [items]="getComponentMenu()" (itemChanged)="onItemClick($event)">
    </pj-side-menu>
    <div class="flex-grow">
      <pj-document-section *ngFor="let docSectionData of getCurrentComponentDocument()"
        [docSectionData]="docSectionData">
      </pj-document-section>
    </div>
  </div>
</pj-layout-flex>