<div class="title mb-4" *ngIf="!onRegisterSeller()">Join <span class="brandName">{{getBrandName()}}</span> for awesome shopping experience</div>
<div *ngIf="onRegisterSeller()" class="title">Create an AmMall Seller account</div>
<div class="flex flex-row items-center gap-2 mb-8">
  <div class="haveaccount">Already have an account?</div>
  <pj-button-inline pjColor="secondary" label="Sign in" (click)="onSignInBtnClick()"></pj-button-inline>
</div>
<pj-text-entry *ngIf="!onRegisterSeller()" class="flex-1 mb-4" pjSize="lg" [entryConfig]="getEntryConfig('nickName')"
  [formControl]="getNickFormControl()"></pj-text-entry>
<pj-text-entry class="flex-1 mb-4" pjSize="lg" [entryConfig]="getEntryConfig('emailAddress')"
  [formControl]="getEmailFormControl()">
</pj-text-entry>
<pj-new-password [submitNewPassword]="getSubmitPassword()" (passwordChanged)="onPasswordChanged($event)"
  [confirmNeeded]="false" [validateRules]="getValidateRules()">
</pj-new-password>
<!-- <re-captcha (resolved)="onResolved($event)" [siteKey]="getSiteKey()"></re-captcha> -->
<div *ngIf="isCaptchaError()" class="captchaError self-start">Please verify that you are not a robot.</div>
<pj-button-cta class="flex-1 mb-3 mt-8" btnType="filled" pjColor="secondary" pjSize="lg"
  [label]="getCreateLabel()" [leftIconName]="'lock'" PjCaptcha
  (captchaChanged)="onCreateAccountBtnClick($event)"></pj-button-cta>
<pj-term-notice [brandLabel]="getBrandName()" (actionEvent)="onTermNoticeAction($event)"></pj-term-notice>