@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-progress-step-item-font: (
  icon: 24px,
  label: $pj-strong-2,
  label_current: $pj-strong-2,
  description: $pj-body-2,
);

$pj-progress-step-item-measurement: (
  line: (
    height: 54px,
    margin: -2px 11px -2px 11px,
    border: 0 0 0 2px,
  ),
);

$pj-progress-step-item-style: (
  icon: (
    fg: map-get($pj-neutral, 100),
    current: (fg: map-get($pj-secondary, 500)),
  ),
  line: (
    bd: map-get($pj-neutral, 100),
    current: (bd: map-get($pj-secondary, 500)),
  ),
  label: (
    fg: map-get($pj-neutral, 600),
    current: (fg: map-get($pj-neutral, 800)),
    pending: (fg: map-get($pj-neutral, 200)),
  ),
  description: (
    fg: map-get($pj-neutral, 400),
    current: (fg: map-get($pj-neutral, 600)),
    pending: (fg: map-get($pj-neutral, 200)),
    success: (fg: map-get($pj-success, 600)),
    brand: (fg: map-get($pj-brand, 600)),
  ),
);
.pj-progress-step-item {
  & .icon {
    font-size: map-get($pj-progress-step-item-font, icon);
  }
  & .line {
    @include pjMeasurementWithMapExt($pj-progress-step-item-measurement, line);
    @include pjColorWithMapExt($pj-progress-step-item-style, line);
    &.current {
      @include pjColorWithMapExt($pj-progress-step-item-style, line, current);
    }
  }
  @each $part in (icon, label, description) {
    & .#{$part} {
      font: map-get($pj-progress-step-item-font, $part);
      @include pjColorWithMapExt($pj-progress-step-item-style, $part);
    }
    & .#{$part}.current {
      @include pjColorWithMapExt($pj-progress-step-item-style, $part, current);
    }
    & .#{$part}.pending {
      @include pjColorWithMapExt($pj-progress-step-item-style, $part, pending);
    }
  }
  & .label.current {
    font: map-get($pj-progress-step-item-font, label_current);
  }
}
