<div class="pj-document-section flex flex-col gap-1">
  <div *ngIf="hasTitle()" class="title" [ngClass]="getTitleClass()">{{getTitle()}}</div>
  <div *ngIf="hasDescription()" class="description" [ngClass]="getDescClass()">{{getDescription()}}</div>
  <div *ngIf="hasParameters()">
    <pj-field-value-text pjSize="xl" *ngFor="let fieldValue of getParameters()" [fieldValue]="fieldValue">
    </pj-field-value-text>
  </div>
  <div [ngClass]="getCompArrangementClass()" class="p-4" [ngStyle]="getBackgroundColor()">
    <ng-template DocumentSection></ng-template>
  </div>
</div>