@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

.title {
    font: $pj-h5;
    color: map-get($pj-neutral, 800);
}

.description {
    font: $pj-body-2;
    color: map-get($pj-neutral, 600);
}
