@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-action-item-size: (lg, xl);

$pj-action-item-font: (
  label: (lg: $pj-strong-2,xl: $pj-strong-2),
  description: (lg: $pj-body-2,xl: $pj-body-2),
);

$pj-action-item-style: (
  bg: map-get($pj-neutral, 50),
  hover: (bg: map-get($pj-neutral, 100)),
  pressed: (bg: map-get($pj-neutral, 150)),
  label: (fg: map-get($pj-neutral, 800)),
  description: (fg: map-get($pj-neutral, 600)),
);

$pj-action-item-measurement: (
  lg: (padding: 8px 12px 8px 12px,radius: 8px),
  xl: (padding: 16px,radius: 8px),
);

.pj-action-item {
  cursor: pointer;
  @each $size in $pj-action-item-size {
    &.#{$size} {
      @include pjMeasurementWithMapExt($pj-action-item-measurement, $size);
      & .label {
        font: map-get-ext($pj-action-item-font, label, $size);
      }
      & .title {
        font: map-get-ext($pj-action-item-font, title, $size);
      }
      & .description {
        font: map-get-ext($pj-action-item-font, description, $size);
      }
    }
  }

  @include pjColorWithMapExt($pj-action-item-style);
  & .label {
    @include pjColorWithMapExt($pj-action-item-style, label);
  }
  & .title {
    @include pjColorWithMapExt($pj-action-item-style, label);
  }
  & .description {
    @include pjColorWithMapExt($pj-action-item-style, description);
  }
  &:hover {
    @include pjColorWithMapExt($pj-action-item-style, hover);
  }
  &.pressed {
    @include pjColorWithMapExt($pj-action-item-style, pressed);
  }
}
