@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-image-manage-font: (
  statusAdd: $pj-strong-3,
  fileName: $pj-label-lg,
);

$pj-image-manage-measurement: (
  border: 2px,
  radius: 8px,
  statusAddedLabel: (
    height: 26px,
    radius: 8px 0px 8px 0px,
    padding: 4px 8px 4px 6px,
  ),
  
);

$pj-image-manage-style: (
  bd: $pj-white,
  statusAdded: (
    bd: map-get($pj-secondary, 600),
  ),
  statusAddedLabel: (
    fg: $pj-white,
    bg: map-get($pj-secondary, 600),
    hover: (
          bg: rgba(255, 255, 255, 0.3),
        ),
  ),
  padding: (
    bg: map-get($pj-primary, 10),
  ),
);

.iconButton {
  position: absolute;
  top: -12px;
  right: -12px;
}

.centerbutton {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 148px;
  width: 148px;
  padding: 0 16px 0 16px;
}

.statusAddedLabel {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.pj-image-manage {

  @include pjMeasurementWithMapExt($pj-image-manage-measurement);
  @include pjColorWithMapExt($pj-image-manage-style);

  & .fileName {
    font: map-get($pj-image-manage-font, fileName);
    color: map-get($pj-primary, 600);
  }
  &.padding {
    @include pjColorWithMapExt($pj-image-manage-style, padding);
    &:hover {
      opacity: 0.5;
    }
  }
  &:hover{
    background-color: initial;
  }
  & .pendingIcon {
    font-size: 32px;
    color: map-get($pj-primary, 300);
  }
  &.statusAdded {

    @include pjColorWithMapExt($pj-image-manage-style, statusAdded);
    @include pjMeasurementWithMapExt($pj-image-manage-measurement, statusAdded);
    &:hover {
      @include pjColorWithMapExt($pj-image-manage-style, statusAdded, hover);
      //opacity: 0.5;
    }
  }
  & .statusAddedLabel {
    cursor: default;
    font: map-get($pj-image-manage-font, statusAdd);
    @include pjMeasurementWithMapExt($pj-image-manage-measurement, statusAddedLabel);
    @include pjColorWithMapExt($pj-image-manage-style, statusAddedLabel);
    &.hoverOn {
      // @include pjColorWithMapExt($pj-image-manage-style, statusAddedLabel, hover);
      opacity: 0.5;
    }
  }
}
