<div class="pj-switch flex flex-col">
  <div class="self-stretch flex flex-row items-center justify-between mb-1">
    <div class="label">{{ switchData?.label }}</div>
    <div class="flex flex-row items-center gap-4">
      <pj-icon class="icon" [ngClass]="getToggleClass()" *ngIf="hasIcon()" [iconName]="getIconName()"></pj-icon>
      <div class="toggle-button" [ngClass]="getToggleClass()" (click)="onClick()">
        <div [ngClass]="getToggleDotClass()"></div>
      </div>
    </div>
  </div>
  <div *ngIf="hasDescription()" class="description mb-8">
    {{ switchData?.description }}
  </div>
</div>
