<div class="pj-dropdown-item" pjPressable pjDefaultSize="lg" (click)="onClick()" *ngIf="isNotDivider()" [ngClass]="getDisabledClass()">
  <div class="flex flex-row items-center justify-between" [ngClass]="getItemClass()">
    <div class="flex flex-row items-center" [ngClass]="getGapClass()">
      <pj-icon class="icon" [ngClass]="isIconVisible()" *ngIf="hasIcon()" [iconName]="getIconName()"></pj-icon>
      <img *ngIf="hasIamge()" class="image" src="{{ getImageSrc() }}" />
      <div class="flex flex-col">
        <div class="label">{{ getLabel() }}</div>
        <div class="description" *ngIf="hasDescription()">{{ getDescription() }}</div>
      </div>
    </div>
    <div class="flex flex-row items-center gap-2">
      <pj-badge *ngIf="hasBadge()" [label]="getBadgeLabel()" pjColor="error" pjSize="{{ getBageSize() }}"></pj-badge>
      <pj-icon *ngIf="hasSubMenu()" [iconName]="'keyboard_arrow_down'"></pj-icon>
    </div>
  </div>
</div>
<div style="margin-left: -8px; margin-right: -8px;"  class="my-2" *ngIf="isDivider()">
  <pj-divider [dividerType]="'subtle'"></pj-divider>
</div>
