@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-star-rate-size: (sm, md, lg);
$pj-star-rate-font: (
  sm: ( title: $pj-label-lg, label: $pj-label-md, subLabel:  $pj-small, description: $pj-label-md),
  md: ( title: $pj-label-lg, label: $pj-label-lg, subLabel:  $pj-body-2, description: $pj-label-md),
  lg: ( title: $pj-label-xl, label: $pj-label-xl, subLabel:  $pj-label-xl,  description: $pj-label-lg),
);

$pj-star-rate-icon-size: ( sm: 24px, md: 24px, lg: 48px );

$pj-star-rate-style: (
  focused: (
    label: (
      fg: map-get($pj-neutral, 900),
    ),
  ),
  label: (
    fg: map-get($pj-neutral, 500),
  ),
  subLabel: (
    fg: map-get($pj-neutral, 300),
  ),
  title: (
    fg: map-get($pj-neutral, 800),
  ),
  star: (
    fg: map-get($pj-warning, 500),
    empty: (
      fg: map-get($pj-neutral, 100),
    ),
  ),
  description: (
    fg: map-get($pj-warning, 900),
  ),
);

.pj-star-rate {
  cursor: default;
  & .label {
    &.focused {
      @include pjColorWithMapExt($pj-star-rate-style, focused, label);
    }
  }
  @each $part in (title, label, subLabel, description) {
    & .#{$part} {
      @include pjColorWithMapExt($pj-star-rate-style, $part);
      &.empty {
        @include pjColorWithMapExt($pj-star-rate-style, $part, empty);
      }
    }
  }
  & .rate-star {
    @include pjColorWithMapExt($pj-star-rate-style, star);
    &.empty {
      @include pjColorWithMapExt($pj-star-rate-style, star, empty);
    }
  }
}

@each $size in $pj-star-rate-size {
  .pj-star-rate {
    &.#{$size} {
      @each $part in (title, label, description) {
        & .#{$part} {
          font: map-get-ext($pj-star-rate-font, $size, $part);
        }
      }
      & .rate-star {
        font-size: map-get($pj-star-rate-icon-size, $size);
      }
    }
  }
}
