@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-address-type: (defaultType, normalType, detailType);
$pj-address-part: (name, defaultFlag, addressField);

$pj-address-font: (
  name: $pj-strong-2,
  defaultFlag: $pj-strong-3,
  addressField: $pj-body-2,
);
$pj-address-measurement: (
  height: 192px,
  padding: 16px,
  radius: 16px,
  defaultType: (
    border: 1px,
  ),
  normalType: (
    border: 1px,
  ),
  detailType: (
    border: 0px,
  ),
);
$pj-address-style: (
  defaultType: (
    bg: map-get($pj-brand, 10),
    bd: map-get($pj-brand, 500),
    sdA: map-get($pj-brand-shadow, 2a),
    sdB: map-get($pj-brand-shadow, 2b),
    name: (
      fg: map-get($pj-brand, 900),
    ),
    defaultFlag: (
      fg: map-get($pj-brand, 600),
    ),
    addressField: (
      fg: map-get($pj-brand, 800),
    ),
  ),
  normalType: (
    bg: map-get($pj-neutral, 10),
    bd: map-get($pj-primary, 100),
    sdA: map-get($pj-primary-shadow, 2a),
    sdB: map-get($pj-primary-shadow, 2b),
    name: (
      fg: map-get($pj-primary, 800),
    ),
    defaultFlag: (
      fg: map-get($pj-secondary, 600),
    ),
    addressField: (
      fg: map-get($pj-primary, 600),
    ),
  ),
  detailType: (
    bg: map-get($pj-primary, 10),
    name: (
      fg: map-get($pj-primary, 700),
    ),
    defaultFlag: (
      fg: map-get($pj-primary, 500),
    ),
    addressField: (
      fg: map-get($pj-primary, 600),
    ),
  ),
);

@each $type in $pj-address-type {
  .pj-address {
    @include pjMeasurementWithMapExt($pj-address-measurement);
    &.#{$type} {
      border-style: solid;
      @include pjMeasurementWithMapExt($pj-address-measurement, $type);
      @include pjColorWithMapExt($pj-address-style, $type);

      @each $part in $pj-address-part {
        & .#{$part} {
          font: map-get($pj-address-font, $part);
          @include pjColorWithMapExt($pj-address-style, $type, $part);
        }
      }
    }
  }
}
