<div class="pj-address flex flex-col justify-between" [ngClass]="getAddressTypeClass()">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between name mb-2">
      <div>{{ getName() }}</div>
      <div class="flex flex-row defaultFlag items-center" *ngIf="address?.isDefault">
        <div class="mr-2">Default</div>
        <pj-icon style="font-size: 18px" [iconName]="'home'"></pj-icon>
      </div>
    </div>
    <div class="addressField flex flex-col mb-2">
      <div>{{getAddressLine()}}</div>
      <div>{{ getCityProvinceAndPostcode() }}</div>
      <div>{{ address?.country }}</div>
      <div>{{ address?.phone }}</div>
    </div>
  </div>
  <pj-button-inline class="self-start" *ngIf="hasAction()" pjColor="{{ getEditInstructionBtnColor() }}" pjSize="lg"
    [label]="'Edit delivery instructions'" (click)="onEditBtnClick()"></pj-button-inline>
</div>
