<div class="pj-quantity-adjustment flex flex-row items-center" pjDefaultSize="sm" (focusout)="onFocusOut()">
  <pj-icon class="icon leftIcon" iconName="remove" (click)="onLeftIconClick($event)"
    [ngClass]="getLeftIconDisabledClass()" pjPressable></pj-icon>
  <div class="inputBox" [ngClass]="getFocusedClass()" (click)="onInputElmFocused(qtyElm)">
    <input id="qty" #qtyElm class="flex-none inputText" type="text" [ngStyle]="getWidthStyle()" [maxLength]="maxLen" [value]="getQty()"
      (change)="onValueChanged(qtyElm)" (focus)="onInputElmFocused(qtyElm)" (focusout)="setQtyValue()"/>
  </div>
  <pj-icon class="icon rightIcon" iconName="add" (click)="onRightIconClick($event)"
    [ngClass]="getRightIconDisabledClass()" pjPressable></pj-icon>
</div>
