<div class="flex flex-col">
  <div class="up-part">
    <div class="w-96 flex flex-row justify-between items-end" style="margin: 0 auto">
      <div class="title flex flex-col justify-start">
        <div>Good</div>
        <div>products</div>
        <div>awaits</div>
      </div>
      <img src="assets/image/coming_soon.png" style="height: 144px;"/>
    </div>
  </div>
  <div class="below-part">
    <div class="w-96 flex flex-row items-center my-4" style="margin: 0 auto">
      <div class="description mr-4">We are coming soon.</div>
      <pj-button-cta pjColor="neutral" [label]="'Back to home'" (click)="onBackToHomeBtnClick()"></pj-button-cta>
    </div>
  </div>
</div>
