@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';


.title {
    font: $pj-h1;
    color: map-get($pj-secondary, 500);
}

.description {
    font: $pj-h5;
    color: $pj-white;
}

.up-part {
    padding: 32px;
}

.below-part {
    height: 200px;
    padding: 16px 0 0 0;
    background-color: map-get($pj-secondary, 600);
}