<div class="pj-autocomplete flex flex-row gap-4" [ngClass]="getClass()" *ngIf="isOpen()" pjPressable pjDefaultSize="md">
    <div class="textpart">
        <div class="label" *ngIf="hasLabelUpper()">{{ getLabelUpper() }}</div>
        <pj-autocomplete-item *ngIf="isEmpty()" [leftLabel]="'No results for '" [midLabel]="getNoResult()" pjPressable>
        </pj-autocomplete-item>

        <pj-autocomplete-item *ngFor="let item of resultItems" [startLabel]="getStartLabel(item)"
            [leftLabel]="getLeftLabel()" [midLabel]="getMidLabel(item)" pjPressable>
        </pj-autocomplete-item>
        <pj-divider *ngIf="hasDivider()"></pj-divider>
        <div class="label" *ngIf="hasLabelLower()">{{ getLabelLower() }}</div>
        <pj-autocomplete-item *ngFor="let item of shopItem" [midLabel]="getShopLabel(item)"
            [rightLabel]="getSponsoredLabel(item)" pjPressable>
        </pj-autocomplete-item>
    </div>
    <div class="picpart flex flex-col gap-2" *ngIf="hasPromotion()">
        <pj-image *ngFor="let item of promotionImages" [imageData]="item"></pj-image>
    </div>
</div>