<div class="pj-autocomplete flex flex-col gap-4" pjPressable pjDefaultSize="md" *ngIf="isOpen()">
    <div class="label" *ngIf="hasLabelUpper()">{{ getLabelUpper() }}</div>
    <div class="buttonpart">
        <div class="buttonpart flex flex-row gap-4">
            <pj-button-cta btnType="outlined" *ngFor="let sug of suggestItems" [label]="sug" pjSize="md"
                [disabled]="false" [rightIconName]="' '" pjColor="secondary"></pj-button-cta>
        </div>
    </div>
    <div class="textpart">
        <pj-divider *ngIf="hasDivider()"></pj-divider>
        <div class="label" *ngIf="hasLabelLower()">{{ getLabelLower() }}</div>
        <pj-autocomplete-item *ngFor="let item of searchHistory" [leftLabel]="item" pjPressable>
        </pj-autocomplete-item>
    </div>

</div>