@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-security-question-part:(label);
$pj-security-question-font:(label: $pj-h5);
$pj-security-question-style:(
    label: (fg: map-get($pj-primary, 600)),
);

.pj-security-question {
    @each $part in $pj-security-question-part {
        & .#{$part} {
            font: map-get($pj-security-question-font, $part);
            @include pjColorWithMapExt($pj-security-question-style, $part);
        }
    }
}
