@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-term-notice-font: $pj-small;

$pj-term-notice-style: (fg: map-get($pj-neutral, 600));

:host {
    cursor: default;
    font: $pj-term-notice-font;
    @include pjColorWithMapExt($pj-term-notice-style);
}