<div class="pj-quick-edit flex flex-col">
  <div class="label">{{getFieldLabel()}}</div>
  <div class="flex flex-row items-center gap-8">
    <div class="flex-grow flex flex-col">
      <div [ngClass]="getValueClass()" *ngIf="hasFieldValue()">{{getFieldValue()}}</div>
      <div class="description" *ngIf="hasFieldDesc()">{{getFieldDesc()}}</div>
    </div>
    <pj-button-cta *ngIf="hasButton()" btnType="outlined" pjColor="neutral" pjSize="lg" [label]="getButtonLabel()"
      (click)="onBtnClick()">
    </pj-button-cta>
  </div>
</div>
