@import "/src/scss/color";
@import "/src/scss/typography";
@import "/src/scss/customize";

$pj-quick-edit-font: (label: $pj-strong-1, value: $pj-label-lg, description: $pj-body-2);

$pj-quick-edit-measurement: (
    padding: 24px 24px 16px 24px, radius: 16px, border: 1px
);

$pj-quick-edit-style: (
    bg: $pj-white, bd: map-get($pj-neutral, 100),
    sdA: map-get($pj-neutral-shadow, 2a),
    sdB: map-get($pj-neutral-shadow, 2b),
    label: (fg: map-get($pj-neutral, 800)),
    value: (fg: map-get($pj-neutral, 600)),
    description: (fg: map-get($pj-neutral, 600)),
);

.pj-quick-edit {
    border-style: solid;
    @include pjMeasurementWithMapExt($pj-quick-edit-measurement);
    @include pjColorWithMapExt($pj-quick-edit-style);

    @each $part in (label, value, description) {
        & .#{$part} {
            font: map-get-ext($pj-quick-edit-font, $part);
            @include pjColorWithMapExt($pj-quick-edit-style, $part);
        }
    }
}