@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-slider-measurement: (
  width: 100%, height: 20px, radius: 20px,
  thumb: (width: 20px, height: 20px, radius: 20px),
  track: (width: 100%, height: 12px, radius: 10px),
  valueLabel: (height: 24px, radius: 8px, padding: 3px 4px 3px 4px),
);
$pj-slider-font :( valueRange: $pj-label-lg, valueLabel: $pj-label-md );
$pj-slider-style:(
  valueRange: (fg: map-get($pj-neutral, 600)),
  valueLabel: (fg: $pj-white, bg: map-get($pj-neutral, 800)),
  thumb: (
    bg: $pj-white,
    sdA: map-get($pj-neutral-shadow, 4a),
    sdB: map-get($pj-neutral-shadow, 4b),
    hover: (bg: map-get($pj-secondary, 500)),
    pressed: (bg: map-get($pj-secondary, 700)),
  ),
  track: (bg: map-get($pj-neutral, 50)),
  progress: (
    bg: map-get($pj-secondary, 300),
    hover: (bg: map-get($pj-secondary, 200)),
    active: (bg: map-get($pj-secondary, 500))
  ),
);

.pj-slider {
  & .valueRange {
    font: map-get($pj-slider-font, valueRange);
    @include pjColorWithMapExt($pj-slider-style, valueRange);
  }
  & .valueLabel {
    &.lowValue {
      position: relative;
      left: var(--lowLabelLoc);
    }
    &.highValue {
      position: relative;
      left: var(--highLabelLoc);
    }
    font: map-get($pj-slider-font, valueLabel);
    min-width: 40px;
    width: fit-content;
    @include pjMeasurementWithMapExt($pj-slider-measurement, valueLabel);
    @include pjColorWithMapExt($pj-slider-style, valueLabel);
  }
  & .multi-range {
    position: relative;
    height: 24px;
  }
  & .multi-range .slider {
    position: absolute;
  }
  & .multi-range .highSlider {
    background: none;
  }
  & .slider {
    background: linear-gradient(to right, map-get-ext($pj-slider-style, track, bg) 0 var(--ratio1), 
      map-get-ext($pj-slider-style, progress, bg) var(--ratio1) var(--ratio2), 
      map-get-ext($pj-slider-style, track, bg) var(--ratio2)) no-repeat center;
    background-size: 100% 12px;
    pointer-events: none;
    @include pjMeasurementWithMapExt($pj-slider-measurement);
  }

  @each $browserFlag in (webkit-slider, moz-range, ms) {
    & .slider::-#{$browserFlag}-thumb {
      cursor: pointer;
      pointer-events: all;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include pjMeasurementWithMapExt($pj-slider-measurement, thumb);
      @include pjColorWithMapExt($pj-slider-style, thumb);
    }
    & .slider:hover::-#{$browserFlag}-thumb {
      @include pjColorWithMapExt($pj-slider-style, thumb, hover);
    }
    & .slider.pressed::-#{$browserFlag}-thumb {
      @include pjColorWithMapExt($pj-slider-style, thumb, pressed);
    }
  }
}
