<div class="pj-slider relative flex flex-col gap-1">
  <div #labelElm *ngIf="isValueShown()" class="valueLabel text-center">{{getValue()}}</div>
  <div class="flex" [ngClass]="getRowColClass()">
    <div #leftElm *ngIf="isBothends()" class="valueRange">{{getMinValue()}}</div>
    <input #sliderElm class="flex-grow slider appearance-none" type="range" min="{{getMinValue()}}"
      max="{{getMaxValue()}}" value="{{getValue()}}" (input)="onValueChange(sliderElm)" pjPressable>
    <div *ngIf="hasRangeLabel()" class="flex flex-row items-center justify-between">
      <div *ngIf="isBeneath()" class="valueRange">{{getMinValue()}}</div>
      <div class="valueRange">{{getMaxValue()}}</div>
    </div>
  </div>
</div>