@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-action-button-size: (md, lg, xl);

$pj-action-button-part: (label, icon);

$pj-action-button-font: (
  label: (
    md: $pj-label-md,
    lg: $pj-label-lg,
    xl: $pj-label-xl,
  ),
  icon: (
    md: 16px,
    lg: 20px,
    xl: 24px,
  ),
);

$pj-action-button-measurement: (
  label: (
    md: (
      height: 32px,
      radius: 32px 0 0 32px,
      border: 1px,
      padding: 7px 10px 7px 12px,
    ),
    lg: (
      height: 40px,
      radius: 40px 0 0 40px,
      border: 1px,
      padding: 8px 12px 8px 16px,
    ),
    xl: (
      height: 48px,
      radius: 48px 0 0 48px,
      border: 1px,
      padding: 12px 16px 12px 20px,
    ),
  ),
  icon: (
    md: (
      height: 32px,
      width: 30px,
      radius: 0 32px 32px 0,
      border: 1px 1px 1px 0px,
      padding: 7px 8px 9px 6px,
    ),
    lg: (
      height: 40px,
      width: 38px,
      radius: 0 40px 40px 0,
      border: 1px 1px 1px 0px,
      padding: 10px 10px 10px 8px,
    ),
    xl: (
      height: 48px,
      width: 46px,
      radius: 0 48px 48px 0,
      border: 1px 1px 1px 0px,
      padding: 12px 12px 12px 10px,
    ),
  ),
);

$pj-action-button-style: (
  label: (
    fg: map-get($pj-primary, 600),
    bd: map-get($pj-primary, 150),
    hover: (
      bg: map-get($pj-primary, 10),
    ),
    pressed: (
      fg: map-get($pj-primary, 700),
      bg: map-get($pj-primary, 50),
    ),
    disabled: (
      fg: map-get($pj-primary, 300),
      bg: $pj-white,
    ),
  ),
  icon: (
    fg: map-get($pj-primary, 400),
    bd: map-get($pj-primary, 150),
    hover: (
      bg: map-get($pj-primary, 10),
    ),
    pressed: (
      bg: map-get($pj-primary, 50),
    ),
    focused: (
      fg: $pj-white,
      bg: map-get($pj-primary, 800),
    ),
    disabled: (
      fg: map-get($pj-primary, 300),
      bg: $pj-white,
    ),
  ),
);

.pj-action-button {
  @each $size in $pj-action-button-size {
    cursor: default;
    &.#{$size} {
      & .label {
        font: map-get-ext($pj-action-button-font, label, $size);
      }
      & .icon {
        font-size: map-get-ext($pj-action-button-font, icon, $size);
      }
      &.disabled {
        pointer-events: none;
        @each $part in $pj-action-button-part {
          & .#{$part} {
            @include pjColorWithMapExt($pj-action-button-style, $part, disabled);
          }
        }
      }
      @each $part in $pj-action-button-part {
        & .#{$part} {
          @include pjMeasurementWithMapExt($pj-action-button-measurement, $part, $size);
          border-style: solid;
          @include pjColorWithMapExt($pj-action-button-style, $part);

          &:hover {
            @include pjColorWithMapExt($pj-action-button-style, $part, hover);
          }
          &.pressed {
            @include pjColorWithMapExt($pj-action-button-style, $part, pressed);
          }
          &.focused {
            @include pjColorWithMapExt($pj-action-button-style, $part, focused);
          }
        }
      }
    }
  }
}
