@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-alert-type: (info, success, warning, error);
$pj-alert-part: (title, description, action, link, icon, closeIcon);
$pj-alert-measurement: (padding: 16px,
  radius: 12px,
);

$pj-alert-font: (icon: 24,
  title: $pj-strong-2,
  description: $pj-body-2,
  link: $pj-label-lg,
);

$pj-alert-style: (info: (bg: map-get($pj-info, 50),
    closeIcon: (fg: map-get($pj-info, 500),
    ),
    icon: (fg: map-get($pj-info, 300),
    ),
    title: (fg: map-get($pj-info, 700),
    ),
    description: (fg: map-get($pj-info, 700),
    ),
    action: (fg: map-get($pj-info, 500),
    ),
    link: (fg: map-get($pj-info, 500),
    ),
  ),
  success: (bg: map-get($pj-success, 10),
    closeIcon: (fg: map-get($pj-success, 600),
    ),
    icon: (fg: map-get($pj-success, 500),
    ),
    title: (fg: map-get($pj-success, 900),
    ),
    description: (fg: map-get($pj-success, 900),
    ),
    action: (fg: map-get($pj-success, 700),
    ),
    link: (fg: map-get($pj-success, 700),
    ),
  ),
  warning: (bg: map-get($pj-warning, 10),
    closeIcon: (fg: map-get($pj-warning, 700),
    ),
    icon: (fg: map-get($pj-warning, 500),
    ),
    title: (fg: map-get($pj-warning, 900),
    ),
    description: (fg: map-get($pj-warning, 900),
    ),
    action: (fg: map-get($pj-warning, 800),
    ),
    link: (fg: map-get($pj-warning, 800),
    ),
  ),
  error: (bg: map-get($pj-error, 10),
    closeIcon: (fg: map-get($pj-error, 500),
    ),
    icon: (fg: map-get($pj-error, 300),
    ),
    title: (fg: map-get($pj-error, 700),
    ),
    description: (fg: map-get($pj-error, 700),
    ),
    action: (fg: map-get($pj-error, 500),
    ),
    link: (fg: map-get($pj-error, 500),
    ),
  ),
);

.pj-alert-close {
  display: none;
}

.pj-alert {
  & .alert_icon {
    font-size: 24px;
  }

  & .alert_closeIcon {
    font-size: 24px;
  }

  li {
    list-style-type: disc;
  }

  @include pjMeasurementWithMapExt($pj-alert-measurement);

  @each $type in $pj-alert-type {
    &.#{$type} {
      @include pjColorWithMapExt($pj-alert-style, $type);

      @each $part in $pj-alert-part {
        & .alert_#{$part} {
          @include pjColorWithMapExt($pj-alert-style, $type, $part);
        }
      }

      @each $part in (title, description) {
        & .alert_#{$part} {
          font: map-get($pj-alert-font, $part);
        }
      }
    }
  }
}
