@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-selection-group-measurement: (
  border: 1px,
);

$pj-selection-group-style: (
  bg: $pj-white,
  hover: (bg: map-get($pj-neutral, 50)),
  focused: (bg: map-get($pj-secondary, 50)),
  pressed: (bg: map-get($pj-neutral, 100)),
  withBorder: (
    bd: map-get($pj-neutral, 100),
    sdA: map-get($pj-neutral-shadow, 1a),
    sdB: map-get($pj-neutral-shadow, 1b),
    hover: (
      bd: map-get($pj-neutral, 100),
      sdA: map-get($pj-neutral-shadow, 1a),
      sdB: map-get($pj-neutral-shadow, 1b),
    ),
    focused: (
      bd: map-get($pj-secondary, 500),
      sdA: map-get($pj-secondary-shadow, 4a),
      sdB: map-get($pj-secondary-shadow, 4b),
    ),
    pressed: (
      bd: map-get($pj-neutral, 100),
      sdA: map-get($pj-neutral-shadow, 1a),
      sdB: map-get($pj-neutral-shadow, 1b),
    ),
  )
);

:host ::ng-deep .pj-selection-item {
  cursor: default;
  @include pjColorWithMapExt($pj-selection-group-style);
  &:hover {
    @include pjColorWithMapExt($pj-selection-group-style, hover);
  }
  &.pressed {
    @include pjColorWithMapExt($pj-selection-group-style, pressed);
  }
  &.focused {
    @include pjColorWithMapExt($pj-selection-group-style, focused);
  }
  &.withBorder {
    border-width: 1px;
    border-style: solid;
    @include pjColorWithMapExt($pj-selection-group-style, withBorder);
    &:hover {
      @include pjColorWithMapExt($pj-selection-group-style, withBorder, hover);
    }
    &.pressed {
      @include pjColorWithMapExt($pj-selection-group-style, withBorder, pressed);
    }
    &.focused {
      border-width: 2px;
      @include pjColorWithMapExt($pj-selection-group-style, withBorder, focused);
    }
  }
}
