@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-searchbar-size: (sm, md, lg);
$pj-searchbar-font: (
  sm: $pj-label-md,
  md: $pj-label-lg,
  lg: $pj-label-xl,
);

$pj-searchbar-measurement: (
  sm: (
    height: 32px,
    border: 1px,
    radius: 32px,
    padding: 4px 3px 4px 16px,
  ),
  md: (
    height: 40px,
    border: 1px,
    radius: 40px,
    padding: 4px 3px 4px 16px,
  ),
  lg: (
    height: 48px,
    border: 1px,
    radius: 48px,
    padding: 4px 3px 4px 20px,
  ),
);
$pj-searchbar-style: (
  bg: map-get($pj-primary, 10),
  bd: map-get($pj-primary, 10),
  inputArea: (
    bg: map-get($pj-primary, 10),
    focused: (bg: $pj-white),
  ),
  placeholder: (fg: map-get($pj-neutral, 200)),
  focused: (
    fg: map-get($pj-neutral, 800),
    bg: $pj-white,
    bd: map-get($pj-secondary, 500),
    sdA: $pj-input-shadow,
  ),
);

.pj-search-bar {
  cursor: text;
  & input:focus {
    outline: none;
  }
  & .inputArea {
    @include pjColorWithMapExt($pj-searchbar-style, inputArea);
  }
  @include pjColorWithMapExt($pj-searchbar-style);
  &.focused {
    @include pjColorWithMapExt($pj-searchbar-style, focused);
    & .inputArea {
      @include pjColorWithMapExt($pj-searchbar-style, inputArea, focused);
    }
  }
  & input::placeholder {
    @include pjColorWithMapExt($pj-searchbar-style, placeholder);
  }
  @each $size in $pj-searchbar-size {
    .#{$size} & {
      font: map-get($pj-searchbar-font, $size);
      @include pjMeasurementWithMapExt($pj-searchbar-measurement, $size);
      border-style: solid;
    }
  }
}
