@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-email-entry-part: (title, noaccount);
$pj-email-entry-font: (
    title: $pj-h5,
    noaccount: $pj-label-xl,
);
$pj-email-entry-measurement: (
    width: 400px,
    padding: 32px,
    radius: 12px,
    border: 1px,
);
$pj-email-entry-style: (
    bg: $pj-white,
    bd: map-get($pj-neutral, 50),
    sdA: map-get($pj-neutral-shadow, 4a),
    sdB: map-get($pj-neutral-shadow, 4b),
    title: (fg: map-get($pj-neutral, 800)),
    noaccount: (fg: map-get($pj-neutral, 600)),
);


:host {
    border-style: solid;
    @include pjMeasurementWithMapExt($pj-email-entry-measurement);
    @include pjColorWithMapExt($pj-email-entry-style);

    @each $part in $pj-email-entry-part {
        & .#{$part} {
            text-align: center;
            font: map-get($pj-email-entry-font, $part);
            @include pjColorWithMapExt($pj-email-entry-style, $part);
        }
    }
}