<div class="title mb-8">Sign-in to continue</div>
<pj-text-entry class="flex-1 mb-8" pjSize="lg" [entryConfig]="{label: 'Email', focused: true, labelled: true}"
    (enterKeyPressed)="onLoginBtnClick()" [formControl]="getFormControl()"></pj-text-entry>
<pj-button-cta class="flex-1" btnType="filled" pjColor="secondary" pjSize="lg" [label]="'Log into my account'"
    (click)="onLoginBtnClick()"></pj-button-cta>
<pj-term-notice [brandLabel]="brandLabel" (actionEvent)="onTermNoticeAction($event)"></pj-term-notice>
<pj-divider class="my-2"></pj-divider>
<div class="self-start noaccount">Don’t have an account?</div>
<pj-button-cta class="flex-1  mb-3" btnType="filled" pjColor="neutral" pjSize="lg" label="Sign up"
    (click)="onSignupBtnClick()"></pj-button-cta>