<div
  class="pj-side-collapsible"
  [ngClass]="getTypeClass()"
  [ngStyle]="getWidthStyle()"
>
  <div class="flex flex-row items-center">
    <pj-button-icon
      btnType="text"
      pjColor="neutral"
      pjSize="xl"
      [iconName]="getConsendedIconName()"
      (click)="onTitleBtnClick()"
    ></pj-button-icon>
    <div class="flex-grow cursor-default label text-center">
      {{ getTitle() }}
    </div>
    <pj-button-icon
      class="closeBtn"
      [btnType]="getCloseBtnType()"
      pjColor="neutral"
      pjSize="md"
      [iconName]="getCloseIconName()"
      (click)="onTitleBtnClick()"
    ></pj-button-icon>
  </div>
  <div class="sidebarContent overflow-y-auto">
    <ng-content></ng-content>
  </div>
</div>
