@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-change-password-font: $pj-h5;

$pj-change-password-measurement: (
    width: 400px,
    padding: 32px,
    radius: 12px,
    bd: 1px,
);

$pj-change-password-style: (
    bg: $pj-white,
    bd: map-get($pj-primary, 50),
    sdA: map-get($pj-primary-shadow, 4a),
    sdB: map-get($pj-primary-shadow, 4b),
    title: (fg: map-get($pj-primary, 600)),
);

:host {
    @include pjMeasurementWithMapExt($pj-change-password-measurement);
    @include pjColorWithMapExt($pj-change-password-style);
    & .title {
        font: $pj-change-password-font;
        @include pjColorWithMapExt($pj-change-password-style, title);
    }
}
