<div class="title mb-8">Change password</div>
<pj-text-entry [entryConfig]="getOldPasswordEntryConfig()" pjSize="lg" [formControl]="getFormControl()">
</pj-text-entry>
<pj-new-password [submitNewPassword]="getSubmitPassword()" [oldPassword]="getOldPassword()" (passwordChanged)="onPasswordChanged($event)"
  [validateRules]="getValidateRules()">
</pj-new-password>
<div class="self-stretch flex flex-row">
  <pj-button-cta class="flex-1 mr-4" btnType="outlined" pjColor="neutral" pjSize="lg" [label]="'Cancel'"
    (click)="onCancelBtnClick()"></pj-button-cta>
  <pj-button-cta class="flex-1" btnType="filled" pjColor="secondary" pjSize="lg" [label]="'Save'"
    (click)="onSaveBtnClick()"></pj-button-cta>
</div>