@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-pagination-item-font: (
  normal: $pj-label-lg,
  focused: $pj-label-lg,
  icon: 22px,
);

$pj-pagination-item-measurement: (
  width: 40px,
  height: 40px,
  radius: 40px,
  border: 1px,
);
$pj-pagination-item-style: (
  bg: $pj-white,
  fg: map-get($pj-neutral, 800),
  bd: map-get($pj-neutral, 100),
  hover: (
    bg: map-get($pj-neutral, 50),
    fg: map-get($pj-neutral, 800),
    bd: map-get($pj-neutral, 100),
  ),
  focused: (
    fg: $pj-white,
    bg: map-get($pj-secondary, 500),
    bd: map-get($pj-secondary, 500),
  ),
  pressed: (
    bg: map-get($pj-neutral, 100),
    fg: map-get($pj-neutral, 800),
    bd: map-get($pj-neutral, 100),
  ),
  disabled: (
    bg: $pj-white,
    fg: map-get($pj-neutral, 100),
    bd: map-get($pj-neutral, 100),
  ),
);

.pj-pagination-item {
  border-style: solid;
  @include pjMeasurementWithMapExt($pj-pagination-item-measurement);
  @include pjColorWithMapExt($pj-pagination-item-style);
  & span {
    font: map-get($pj-pagination-item-font, normal);
  }
  & .icon {
    font-size: map-get($pj-pagination-item-font, icon);
  }
  &:hover {
    @include pjColorWithMapExt($pj-pagination-item-style, hover);
  }
  &:disabled {
    @include pjColorWithMapExt($pj-pagination-item-style, disabled);
  }
  &.focused {
    @include pjColorWithMapExt($pj-pagination-item-style, focused);
    & span {
      font: map-get($pj-pagination-item-font, focused);
    }
  }
  &.pressed {
    @include pjColorWithMapExt($pj-pagination-item-style, pressed);
  }
}
