<pj-text-entry pjSize="lg" [entryConfig]="getPasswordEntryConfig()" [formControl]="getPasswordFormControl()">
</pj-text-entry>
<div class="flex flex-col gap-2">
    <div class="descTitle">Your password must satisfy the following:</div>
    <div class="flex flex-row items-center gap-2">
        <pj-icon class="icon" [ngClass]="getIconClass('lengthLimit')" [iconName]="getIconName('lengthLimit')">
        </pj-icon>
        <div class="description">At least 6 characters in length</div>
    </div>
    <div class="flex flex-row items-center gap-2">
        <pj-icon class="icon" [ngClass]="getIconClass('bothcase')" [iconName]="getIconName('bothcase')"></pj-icon>
        <div class="description">Contains uppercase and lowercase letters</div>
    </div>
    <div class="flex flex-row items-center gap-2 mb-2">
        <pj-icon class="icon" [ngClass]="getIconClass('number')" [iconName]="getIconName('number')"></pj-icon>
        <div class="description">Contains at least one number character</div>
    </div>
    <pj-progress-bar *ngIf="hasPswdStrongth()" [progress]="getProgress()" [pjColor]="getProgressClass()" pjSize="sm">
    </pj-progress-bar>
    <div class="pswdStrongth" *ngIf="hasPswdStrongth()" [ngClass]="getPasswordStrengthClass()">
        {{getPasswordStrength()}}</div>
</div>
<pj-text-entry *ngIf="confirmNeeded" class="mb-8" pjSize="lg" [entryConfig]="getConfirmPasswordEntryConfig()"
    [formControl]="getConfirmedPasswordFormControl()"></pj-text-entry>