@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-new-password-font: (
    pswdStrongth: $pj-strong-2, descTitle: $pj-label-md, description: $pj-small, 
    icon: (
        neutral: 4px,
        warn: 18px,
        success: 18px
    )
);

$pj-new-password-style: (
    descTitle: (fg: map-get($pj-neutral, 800)),
    description: (fg: map-get($pj-neutral, 600)),
    icon: (
        neutral: (fg: map-get($pj-neutral, 600)),
        error: (fg: map-get($pj-error, 400)),
        warn: (fg: map-get($pj-warning, 500)),
        success: (fg: map-get($pj-success, 600)),
    ),
    pswdStrongth: (
        error: (fg: map-get($pj-error, 600)),
        success: (fg: map-get($pj-success, 600)),
        warn: (fg: map-get($pj-warning, 700)),
    )
);

:host {
    & .pswdStrongth {
        font: map-get($pj-new-password-font, pswdStrongth);
        @each $color in (warn, success, error) {
            &.#{$color} {
                @include pjColorWithMapExt($pj-new-password-style, pswdStrongth, $color);
            }
        }
        
    }
    & .descTitle {
        font: map-get($pj-new-password-font, descTitle);
        @include pjColorWithMapExt($pj-new-password-style, descTitle);
    }
    & .description {
        font: map-get($pj-new-password-font, description);
        @include pjColorWithMapExt($pj-new-password-style, description);
    }
    & .icon {
        @each $color in (neutral, warn, success, error) {
            &.#{$color} {
                font-size: map-get($pj-new-password-font, icon, $color);
                @include pjColorWithMapExt($pj-new-password-style, icon, $color);
            }
        }
    }
}