@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-phone-verification-part: (title, loginEmail, messageSentNotice);
$pj-phone-verification-font: (
    title: $pj-h5,
    loginEmail: $pj-strong-2,
    messageSentNotice: $pj-body-2,
);
$pj-phone-verification-measurement: (
    width: 402px,
    padding: 32px,
    radius: 12px,
    border: 1px,
);
$pj-phone-verification-style: (
    bg: $pj-white,
    bd: map-get($pj-primary, 50),
    sdA: map-get($pj-primary-shadow, 4a),
    sdB: map-get($pj-primary-shadow, 4b),
    title: (fg: map-get($pj-primary, 600)),
    loginEmail: (fg: map-get($pj-primary, 800)),
    messageSentNotice: (fg: map-get($pj-primary, 800)),
);


:host {
    border-style: solid;
    @include pjMeasurementWithMapExt($pj-phone-verification-measurement);
    @include pjColorWithMapExt($pj-phone-verification-style);

    @each $part in $pj-phone-verification-part {
        & .#{$part} {
            text-align: center;
            font: map-get($pj-phone-verification-font, $part);
            @include pjColorWithMapExt($pj-phone-verification-style, $part);
        }
        & .agreelink {
            text-decoration: underline;
        }
    }
}