<div class="title">Continue sign-in</div>
<div class="loginEmail">{{getLoginName()}}</div>
<pj-button-inline class="self-center mb-10" pjColor="secondary" pjSize="lg" [label]="'Switch email'"
  (click)="onChangeEmailBtnClick()"></pj-button-inline>
<pj-text-entry class="flex-1 mb-10"
  [entryConfig]="{label: 'Password', labelled: true, focused: true, passwordEnabled: true, error: passwordError}"
  pjSize="lg" (enterKeyPressed)="onLoginBtnClick()" [formControl]="getFormControl()">
</pj-text-entry>
<!-- <pj-checkbox class="mb-2" label="Keep me logged in" (changedEvent)="onKeepLoginChanged($event)"
  [checked]="savedLocally"></pj-checkbox> -->
<pj-button-cta class="flex-1  mb-2" btnType="filled" pjColor="secondary" pjSize="lg" label="Sign in"
  (click)="onLoginBtnClick()"></pj-button-cta>
<pj-term-notice [brandLabel]="brandLabel" (actionEvent)="onTermNoticeAction($event)"></pj-term-notice>
<pj-divider class="my-4"></pj-divider>
<div class="forgetPswd mb-2 self-start">Forgot your password?</div>
<pj-button-cta class="flex-1" btnType="filled" pjColor="neutral" pjSize="lg" label="Email me a sign-in link"
  (click)="onLoginBtnClick()"></pj-button-cta>
<pj-button-cta btnType="outlined" pjColor="neutral" pjSize="lg" label="Reset password"
  (click)="onResetPasswordBtnClick()"></pj-button-cta>