@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-password-entry-part: (title, loginEmail, forgetPswd);

$pj-password-entry-font: (title: $pj-h5,loginEmail: $pj-label-lg,forgetPswd: $pj-label-xl);

$pj-password-entry-measurement: (width: 400px,padding: 32px,radius: 12px,border: 1px);

$pj-password-entry-style: (
    bg: $pj-white,
    bd: map-get($pj-neutral, 50),
    sdA: map-get($pj-neutral-shadow, 4a),
    sdB: map-get($pj-neutral-shadow, 4b),
    title: (fg: map-get($pj-neutral, 800)),
    loginEmail: (fg: map-get($pj-neutral, 600)),
    forgetPswd: (fg: map-get($pj-neutral, 600)),
);


:host {
    border-style: solid;
    @include pjMeasurementWithMapExt($pj-password-entry-measurement);
    @include pjColorWithMapExt($pj-password-entry-style);

    @each $part in $pj-password-entry-part {
        & .#{$part} {
            text-align: center;
            font: map-get($pj-password-entry-font, $part);
            @include pjColorWithMapExt($pj-password-entry-style, $part);
        }
    }
}