@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-link-type: (content, inline);
$pj-link-size: (md, lg, xl);
$pj-link-font: (
  content: (
    md: (
      label: $pj-small,
      icon: 16px,
    ),
    lg: (
      label: $pj-body-2,
      icon: 18px,
    ),
    xl: (
      label: $pj-body-1,
      icon: 20px,
    ),
  ),
  inline: (
    md: (
      label: $pj-small,
      icon: 16px,
    ),
    lg: (
      label: $pj-body-2,
      icon: 18px,
    ),
    xl: (
      label: $pj-body-1,
      icon: 20px,
    ),
  ),
);

$pj-link-style: (
  content: (
    neutral: (
      label: (fg: map-get($pj-neutral, 400)),
      icon: (fg: map-get($pj-neutral, 400)),
      hover: (
        label: (fg: map-get($pj-neutral, 700)),
        icon: (fg: map-get($pj-neutral, 700)),
      ),
      pressed: (
        label: (fg: map-get($pj-neutral, 900)),
        icon: (fg: map-get($pj-neutral, 900)),
      ),
    ),
    secondary: (
      label: (fg: map-get($pj-secondary, 600)),
      icon: (fg: map-get($pj-secondary, 600)),
      hover: (
        label: (fg: map-get($pj-secondary, 800)),
        icon: (fg: map-get($pj-secondary, 800)),
      ),
      pressed: (
        label: (fg: map-get($pj-secondary, 900)),
        icon: (fg: map-get($pj-secondary, 900)),
      ),
    ),
  ),
  inline: (
    neutral: (
      label: (fg: map-get($pj-neutral, 400)),
      icon: (fg: map-get($pj-neutral, 400)),
      hover: (
        label: (fg: map-get($pj-neutral, 700)),
        icon: (fg: map-get($pj-neutral, 700)),
      ),
      pressed: (
        label: (fg: map-get($pj-neutral, 900)),
        icon: (fg: map-get($pj-neutral, 900)),
      ),
    ),
    secondary: (
      label: (fg: map-get($pj-secondary, 600)),
      icon: (fg: map-get($pj-secondary, 600)),
      hover: (
        label: (fg: map-get($pj-secondary, 800)),
        icon: (fg: map-get($pj-secondary, 800)),
      ),
      pressed: (
        label: (fg: map-get($pj-secondary, 900)),
        icon: (fg: map-get($pj-secondary, 900)),
      ),
    ),
  ),
);

.pj-link {
  cursor: pointer;
}
.pj-link.content .label{
  text-decoration: underline;
}
.pj-link.inline .label{
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.pressed {
    text-decoration: underline;
  }
}
@each $linkType in $pj-link-type {
  .pj-link {
    position: relative;
    cursor: pointer;
    &:before {
      content: " ";
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      background: transparent;
      z-index: -1;
    }
  }
  .pj-link.#{$linkType} {
    @each $color in (neutral, secondary) {
      &.#{$color} {
        @include pjColorWithMapExt($pj-link-style, $linkType, $color);
        & .label {
          @include pjColorWithMapExt($pj-link-style, $linkType, $color, label);
        }
        & .icon {
          @include pjColorWithMapExt($pj-link-style, $linkType, $color, icon);
        }
        &:hover {
          @include pjColorWithMapExt($pj-link-style, $linkType, $color, hover);
          & .label {
            @include pjColorWithMapExt($pj-link-style, $linkType, $color, hover, label);
          }
          & .icon {
            @include pjColorWithMapExt($pj-link-style, $linkType, $color, hover, icon);
          }
        }
        &.pressed {
          @include pjColorWithMapExt($pj-link-style, $linkType, $color, pressed);
          & .label {
            @include pjColorWithMapExt($pj-link-style, $linkType, $color, pressed, label);
          }
          & .icon {
            @include pjColorWithMapExt($pj-link-style, $linkType, $color, pressed, icon);
          }
        }
      }
    }
  }
  @each $size in $pj-link-size {
    .pj-link.#{$size} {
      & .icon {
        font-size: map-get-ext($pj-link-font, $size, icon);
      }
    }
    .pj-link.#{$linkType}.#{$size} {
      & .label {
        font: map-get-ext($pj-link-font, $linkType, $size, label);
      }
    }
  }
}
