<div class="pj-codebox flex flex-col items-center" pjDefaultSize="md">
  <div *ngIf="hasError" class="errorMsg text-center">
    Oops... Looks like the code is wrong
  </div>
  <div class="flex flex-row">
    <input #inputElm1 class="inputBox" type="text" [ngClass]="getClass(charValues[0])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[0] }}" (focus)="onFocused(inputElm1)"
      (keyup)="onKeypress(inputElm1, $event, 0)" />
    <input #inputElm2 class="inputBox" type="text" [ngClass]="getClass(charValues[1])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[1] }}" (focus)="onFocused(inputElm2)"
      (keyup)="onKeypress(inputElm2, $event, 1)" />
    <input #inputElm3 class="inputBox" type="text" [ngClass]="getClass(charValues[2])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[2] }}" (focus)="onFocused(inputElm3)"
      (keyup)="onKeypress(inputElm3, $event, 2)" />
    <input #inputElm4 class="inputBox" type="text" [ngClass]="getClass(charValues[2])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[3] }}" (focus)="onFocused(inputElm4)"
      (keyup)="onKeypress(inputElm4, $event, 3)" />
    <input #inputElm5 class="inputBox" type="text" [ngClass]="getClass(charValues[4])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[4] }}" (focus)="onFocused(inputElm5)"
      (keyup)="onKeypress(inputElm5, $event, 4)" />
    <input #inputElm6 class="inputBox" type="text" [ngClass]="getClass(charValues[5])"
      [maxLength]="1" [minLength]="1" value="{{ charValues[5] }}" (focus)="onFocused(inputElm6)"
      (keyup)="onKeypress(inputElm6, $event, 5)" />
  </div>
</div>