@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-image-style: (
  imageIcon: (
    bg: $pj-white,     
    sdA: map-get($pj-neutral-shadow, 1a),
    sdB: map-get($pj-neutral-shadow, 1b)
  )
);

.pj-image {
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 70.62%);

  & .imageIcon {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 2px;
    border-radius: 14px; 
    @include pjColorWithMapExt($pj-image-style, imageIcon);
  }

  & .badge {
    position: absolute;
    top: -9px;
    right: -9px;
  }
  &.secondary {
    border-color: map-get($pj-secondary, 300);
  }

  &.brand {
    border-color: map-get($pj-brand, 300);
  }
  
  &.noEvent {
    pointer-events: none;
  }
  cursor: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.5s;

  & .label {
    font: $pj-strong-1;
    color: $pj-white;
    background-color: unset;
    padding: 12px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    width: auto;
    height: auto;
    content: " ";
  }
  &.square {
    border-radius: 8px;
    &:before {
      border-radius: 8px;
    }
  }
  &.circle {
    border-radius: 100%;
    &:before {
      border-radius: 100%;
    }
  }
  &.pressed {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
