<div class="box">
  <p-button label="prime-ng" styleClass="p-primng-success"></p-button>

  <div class="flex justify-content-center">
    <div>Select country</div>
    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div>{{ selectedOption.name }}</div>
      </ng-template>

      <ng-template let-country pTemplate="item">
        <div>{{ country.name }}</div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
