@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-choice-box-font: $pj-body-2;

$pj-choice-box-style: (
  bg: $pj-white,
  icon: (fg: map-get($pj-neutral, 200)),
  label: (fg: map-get($pj-neutral, 600)),
  checked: (
    icon: (fg: map-get($pj-secondary, 500)),
    label: (fg: map-get($pj-neutral, 900)),
  ),
  disabled: (
    icon: (fg: map-get($pj-neutral, 100)),
    label: (fg: map-get($pj-neutral, 100)),
  ),
);

.pj-choice-box {
  cursor: pointer;
  & .label {
    font: $pj-choice-box-font;
    @include pjColorWithMapExt($pj-choice-box-style, label);
  }

  & .icon {
    font-size: 24px;
    @include pjColorWithMapExt($pj-choice-box-style, icon);
  }

  &.checked {
    & .icon {
      @include pjColorWithMapExt($pj-choice-box-style, checked, icon);
    }
    & .label {
      font: $pj-choice-box-font;
      @include pjColorWithMapExt($pj-choice-box-style, checked, label);
    }
  }
  &.disabled {
    & .icon {
      @include pjColorWithMapExt($pj-choice-box-style, disabled, icon);
    }
    & .label {
      font: $pj-choice-box-font;
      @include pjColorWithMapExt($pj-choice-box-style, disabled, label);
    }
  }
}
