@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-search-result-size: (xs, sm);

$pj-search-result-font: (
    xs: (title: $pj-strong-2, description: $pj-small, icon: 18px),
    sm: (title: $pj-strong-1, description: $pj-body-2, icon: 24px),
);
$pj-search-result-measurement: (
    xs: (radius: 12px, padding: 12px),
    sm: (radius: 16px, padding: 16px),
);

$pj-search-result-style: (
    bg: $pj-white,
    title: (fg: map-get($pj-neutral, 800)),
    description: (fg: map-get($pj-neutral, 600)),
    keyword: (fg: map-get($pj-secondary, 600)),
    hover: (
        bg: map-get($pj-neutral, 50),
    ),
    pressed: (
        bg: map-get($pj-neutral, 100),
    )
);

.pj-search-result {
    cursor: pointer;
    @include pjColorWithMapExt($pj-search-result-style);
    & .title {
        @include pjColorWithMapExt($pj-search-result-style, title);
    }
    & .description {
        @include pjColorWithMapExt($pj-search-result-style, description);
    }
    &:hover {
        @include pjColorWithMapExt($pj-search-result-style, hover);
    }
    &.pressed {
        @include pjColorWithMapExt($pj-search-result-style, pressed);
    }
    @each $size in $pj-search-result-size {
        &.#{$size} {
            @include pjMeasurementWithMapExt($pj-search-result-measurement, $size);
            & .title {
                font: map-get-ext($pj-search-result-font, $size, title);
            }
            & .description {
                font: map-get-ext($pj-search-result-font, $size, description);
            }
            & .icon {
                font-size: map-get-ext($pj-search-result-font, $size, icon);
            }
        }
    }
}