@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-code-entry-part: (title, loginEmail, messageSentNotice);
$pj-code-entry-font: (
    title: $pj-h5,
    loginEmail: $pj-body-2,
    messageSentNotice: $pj-body-2,
);
$pj-code-entry-measurement: (
    width: 402px,
    padding: 32px,
    radius: 12px,
    border: 1px,
);
$pj-code-entry-style: (
    bg: $pj-white,
    bd: map-get($pj-primary, 50),
    sdA: map-get($pj-primary-shadow, 4a),
    sdB: map-get($pj-primary-shadow, 4b),
    title: (fg: map-get($pj-primary, 600)),
    loginEmail: (fg: map-get($pj-primary, 800)),
    messageSentNotice: (fg: map-get($pj-primary, 600)),
);


:host {
    border-style: solid;
    @include pjMeasurementWithMapExt($pj-code-entry-measurement);
    @include pjColorWithMapExt($pj-code-entry-style);

    @each $part in $pj-code-entry-part {
        & .#{$part} {
            text-align: center;
            font: map-get($pj-code-entry-font, $part);
            @include pjColorWithMapExt($pj-code-entry-style, $part);
        }
    }
}