<div class="pj-carousel relative">
  <swiper #swiperElm [slidesPerView]="'auto'" [autoplay]="autoplay" [spaceBetween]="spaceBetweenItem" [loop]="loop">
    <ng-template swiperSlide *ngFor="let slide of swiperItems">
      <ng-content *ngTemplateOutlet="slide.getEelement()"></ng-content>
    </ng-template>
  </swiper>
  <pj-button-icon class="nonLoopBackArrow" *ngIf="!hasArrowGroup()" [btnType]="getBtnType()" pjColor="neutral" pjSize="{{ getBtnSize() }}"
    [ngClass]="getBackBtnVisible()" [iconName]="'arrow_back'" (click)="onForwardBtnClick(swiperElm)"
    [disabled]="isBackwardDisabled()" [ngStyle]="getPositionStyle()"></pj-button-icon>
  <pj-button-icon class="nonLoopForwardArrow" *ngIf="!hasArrowGroup()" [btnType]="getBtnType()" pjColor="neutral" pjSize="{{ getBtnSize() }}"
    [ngClass]="getForwardBtnVisible()" [iconName]="'arrow_forward'" (click)="onBackwardBtnClick(swiperElm)"
    [disabled]="isForwardDisabled()" [ngStyle]="getPositionStyle()"></pj-button-icon>
  <div class="mask" *ngIf="hasArrowGroup() && withMask"></div>
  <pj-arrow-group *ngIf="hasArrowGroup()" class="arrowGroup" [arrowGroupData]="arrowGroupData"
    (forward)="onForwardBtnClick(swiperElm)" (backward)="onBackwardBtnClick(swiperElm)" [ngStyle]="getPositionStyle()">
  </pj-arrow-group>
</div>
