@import "/src/scss/color";
@import "/src/scss/typography";
@import "/src/scss/customize";

$pj-tooltip-font: $pj-label-lg;

$pj-tooltip-measurement: (
  radius: 6px,
  padding: 4px 8px 4px 8px,
);

$pj-tooltip-style: (
  fg: $pj-white,
  bg: map-get($pj-primary, 800),
  sdA: map-get($pj-primary-shadow, 05a),
  sdB: map-get($pj-primary-shadow, 05b),
);

.pj-tooltip {
  z-index: map-get($zIndex, tooltip);
  & .content {
    font: $pj-tooltip-font;
    @include pjMeasurementWithMapExt($pj-tooltip-measurement);
    @include pjColorWithMapExt($pj-tooltip-style);
  }
  & .tipPoint {
    position: absolute;
    z-index: -1;
    background-color: map-get($pj-primary, 800);
    width: 12px;
    height: 12px;
    border-radius: 4px 2px 4px 2px;
    transform: rotate(-45deg);
    &.top {
      left: 10px;
      bottom: -3px;
    }
    &.right {
      left: -3px;
      top: 10px;
    }
    &.bottom {
      left: 10px;
      bottom: 22px;
    }
    &.left {
      right: -3px;
      top: 10px;
    }
  }
}
