@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-search-history-font: (icon: 24px, title: $pj-strong-2);

$pj-search-history-style: (
  icon: (fg: map-get($pj-secondary, 900)),
  title: (fg: map-get($pj-secondary, 900))
);

:host {
  & .icon {
    font-size: map-get($pj-search-history-font, icon);
    @include pjColorWithMapExt($pj-search-history-style, icon);
  }
  & .title {
    font: map-get($pj-search-history-font, title);
    @include pjColorWithMapExt($pj-search-history-style, title);
  }
}