@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-selitem-generic-font: (
  icon: 20px,
);

$pj-selitem-generic-measurement: (
  padding: 12px 16px 12px 16px,
  radius: 12px,
);

.pj-selitem-generic {
  @include pjMeasurementWithMapExt($pj-selitem-generic-measurement);
  & .icon {
    font-size: map-get($pj-selitem-generic-font, icon);
    color: map-get($pj-secondary, 500);
  }
}
