<div class="flex flex-row items-center" (click)="onCloseClick()" pjModalBg>
  <div class="pj-dlg-remove mx-auto flex flex-col gap-2 items-center">
    <pj-image *ngIf="hasImage()" class="mb-1" [imageData]="getImageData()">
    </pj-image>
    <div class="title">{{ removeData?.title }}</div>
    <div class="{{ getContentAlign() }}">
      <ng-content></ng-content>
      <div *ngIf="hasContent()" #content></div>
    </div>
    <div class="description text-center">{{ removeData?.description }}</div>
    <div class="self-stretch flex flex-row mt-6">
      <pj-button-cta class="flex-1 mr-4" btnType="outlined" pjColor="neutral" pjSize="lg" [label]="'Cancel'"
        (click)="onCancleBtnClick()">
      </pj-button-cta>
      <pj-button-cta class="flex-1" btnType="filled" pjColor="error" pjSize="lg"
        [label]="'Yes, remove it'" (click)="onRemoveBtnClick()">
      </pj-button-cta>
    </div>
  </div>
</div>
