@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-credit-card-supported-font: $pj-strong-2;

$pj-credit-card-supported-measurement: (
  // height: 88px,
  padding: 16px,
  radius: 12px
);

$pj-credit-card-supported-style: (
  fg: map-get($pj-secondary, 600),
  bg: map-get($pj-secondary, 50),
);

.pj-credit-card-supported {
  font: $pj-credit-card-supported-font;
  @include pjMeasurementWithMapExt($pj-credit-card-supported-measurement);
  @include pjColorWithMapExt($pj-credit-card-supported-style);
}
