@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-file-upload-status-font: (fileName: $pj-label-lg,
  progressLabel: $pj-small,
);

$pj-file-upload-status-style: (bd:map-get($pj-error, 300),
  icon: (fg: map-get($pj-error, 300),
  ),
  fileName: (fg: map-get($pj-primary, 800),
  ),
  progressLabel: (fg: map-get($pj-primary, 600),
  ),

);

$pj-file-upload-status-measurement: (radius: 12px,
  padding: 16px,
  width:468px,
  height:82px,

);

.pj-file-upload-error {
  border:solid 1px;
  cursor: default;
  @include pjColorWithMapExt($pj-file-upload-status-style);
  @include pjMeasurementWithMapExt($pj-file-upload-status-measurement);

  @each $item in (fileName, progressLabel, icon) {
    & .#{$item} {
      font: map-get($pj-file-upload-status-font, $item);
      @include pjColorWithMapExt($pj-file-upload-status-style, $item);
    }

    & .icon {
      font-size: 24px;
    }
  }
}
