@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";


.filter-active{
    font-weight: 400;
    font-size: 14px;
    color: map-get($pj-secondary, 600);

}
.filter-inactive{
    font-weight: 400;
    font-size: 14px;
    color: map-get($pj-neutral, 400);

}
.showing{
    font-weight: 400;
    font-size: 14px;
    color: map-get($pj-neutral, 600);

}