@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";



input{
    width: 24px;
    height: 24px;
    padding: 0px;
    outline: none;
    border-color:$pj-white;
    
}
input:focus {
    width: 24px;
    height: 24px;
    padding: 0px;
    outline: none;
    border-color:$pj-white;
    
}

::-webkit-datetime-edit {
    visibility: hidden;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0px;
  
}



