<div class="pj-helper-box flex flex-col gap-4 relative">
  <ng-container *ngIf="hasMultipleLine()">
    <div *ngFor="let helperItem of helperItems" class="flex flex-row items-start gap-4">
      <pj-icon class="icon" [ngClass]="helperItem?.iconClass || ''" [iconName]="helperItem?.iconName || ''"></pj-icon>
      <div class="description" [ngClass]="getDescriptionClass(helperItem)">
        {{ helperItem?.description }}
      </div>
    </div>
    <pj-button-icon class="actionBtn" iconName="close" btnType="elevated" pjSize="lg" (click)="onCloseBtnClick()">
    </pj-button-icon>
  </ng-container>
  <ng-container *ngIf="!hasMultipleLine()">
    <div class="flex flex-row items-start gap-4">
      <pj-icon class="icon" *ngIf="hasFirstItemIcon()" [ngClass]="getFirstItemIconClass()"
        [iconName]="getFirstItemIconName()"></pj-icon>
      <div>
        <div class="title">{{ getFirstItemTitle() }}</div>
        <div class="description">{{ getFirstItemDescription() }}</div>
      </div>
      <pj-button-icon class="closeBtn" *ngIf="isCloseable()" iconName="close" btnType="text" pjSize="xl"
        (click)="onCloseBtnClick()"></pj-button-icon>
    </div>
  </ng-container>
</div>