@import "/src/scss/color";
@import "/src/scss/typography";
@import "/src/scss/customize";

$pj-helper-box-font: (
  title: $pj-strong-2,
  description: $pj-body-2,
  strongDesc: $pj-label-lg,
);

// $pj-helper-box-measurement: (width:320px);
$pj-helper-box-measurement: (
  border: 1px, padding: 16px, radius: 16px,
  closeBtn: (margin: -12px -12px 0px 0px)
);

$pj-helper-box-style: (
  bd: map-get($pj-neutral, 50),
  sdA: map-get($pj-neutral-shadow, 5a),
  sdB: map-get($pj-neutral-shadow, 5b),
  title: (
    fg: map-get($pj-neutral, 700),
  ),
  description: (
    fg: map-get($pj-neutral, 600),
  ),
  strongDesc: (
    fg: map-get($pj-neutral, 800),
  ),
  icon: (
    neutral: (
      fg: map-get($pj-neutral, 400),
    ),
    success: (
      fg: map-get($pj-success, 400),
    ),
    info: (
      fg: map-get($pj-info, 300),
    ),
    warning: (
      fg: map-get($pj-warning, 500),
    ),
    error: (
      fg: map-get($pj-error, 300),
    ),
  ),
);

.actionBtn {
  position: absolute;
  top: -16px;
  right: -16px;
}

.pj-helper-box {
  // @include pjMeasurementWithMapExt($pj-helper-box-measurement);
  z-index: 100;
  max-width: 320px;
  border-style: solid;
  @include pjMeasurementWithMapExt($pj-helper-box-measurement);
  @include pjColorWithMapExt($pj-helper-box-style);
  & .description {
    font: map-get($pj-helper-box-font, description);
    @include pjColorWithMapExt($pj-helper-box-style, description);
    &.emphasis {
      font: map-get($pj-helper-box-font, strongDesc);
      @include pjColorWithMapExt($pj-helper-box-style, strongDesc);
    }
  }
  & .title {
    font: map-get($pj-helper-box-font, title);
  }
  & .closeBtn {
    @include pjMeasurementWithMapExt($pj-helper-box-measurement, closeBtn);
  }
  & .icon {
    font-size: 24px;
    @each $color in (success, info, warning, error, neutral) {
      &.#{$color} {
        @include pjColorWithMapExt($pj-helper-box-style, icon, $color);
      }
    }
  }
}
