@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-tab-text-item-size: (md, lg, xl);
$pj-tab-text-item-clas: (badgeiconClass,badgeClass,iconClass);
$pj-tab-text-item-measurement: (
  md: (
    height: 32px,
    padding: 7px 10px 7px 10px,
    badgeiconClass:(
      padding: 7px 8px 7px 8px,
    ),
    badgeClass:(
      padding: 7px 10px 7px 12px,
    ),
    iconClass:(
      padding: 7px 12px 7px 10px,
    ),
  ),
  lg: (
    height: 40px,
    padding: 8px 12px 8px 12px,
    badgeiconClass:(
      padding: 8px 12px 8px 12px,
    ),
    badgeClass:(
      padding: 8px 12px 8px 16px,
    ),
    iconClass:(
      padding: 8px 16px 8px 12px,
    ),
  ),
  xl: (
    height: 48px,
    padding: 12px 16px 12px 16px,
    badgeiconClass:(
      padding: 12px,
    ),
    badgeClass:(
      padding: 12px 12px 12px 16px,
    ),
    iconClass:(
      padding: 12px 16px 12px 12px,
    ),
  ),
);

$pj-tab-text-item-font: (
  md: (
    title: $pj-label-lg,
    icon: 16px,
  ),
  lg: (
    title: $pj-label-lg,
    icon: 18px,
  ),
  xl: (
    title: $pj-label-xl,
    icon: 18px,
  ),
);

$pj-tab-text-item-style: (
  fg: map-get($pj-neutral, 200),
  icon: (
    fg: map-get($pj-neutral, 200),
  ),
  hover: (
    fg: map-get($pj-neutral, 800),
    icon: (
      fg: map-get($pj-neutral, 800),
    ),
  ),
  focused: (
    fg: map-get($pj-secondary, 600),
    icon: (
      fg: map-get($pj-secondary, 600),
    ),
  ),
  pressed: (
    fg: map-get($pj-neutral, 900),
    icon: (
      fg: map-get($pj-neutral, 900),
    ),
  ),
);

.pj-tab-text-item {
  cursor: pointer;
  @each $size in $pj-tab-text-item-size {
    &.#{$size} {
      @include pjMeasurementWithMapExt($pj-tab-text-item-measurement, $size);
      & .title {
        font: map-get-ext($pj-tab-text-item-font, $size, title);
      }
      & .icon {
        font-size: map-get-ext($pj-tab-text-item-font, $size, icon);
      }
      @each $itemClass in $pj-tab-text-item-clas {
        &.#{$itemClass} {
          @include pjMeasurementWithMapExt($pj-tab-text-item-measurement, $size,$itemClass);
        }
      }
    }
  }
  @include pjColorWithMapExt($pj-tab-text-item-style);
  & .icon {
    @include pjColorWithMapExt($pj-tab-text-item-style, icon);
  }
  &:hover {
    @include pjColorWithMapExt($pj-tab-text-item-style, hover);
    & .icon {
      @include pjColorWithMapExt($pj-tab-text-item-style, hover, icon);
    }
  }
  &.focused {
    pointer-events: none;
    @include pjColorWithMapExt($pj-tab-text-item-style, focused);
    & .icon {
      @include pjColorWithMapExt($pj-tab-text-item-style, focused, icon);
    }
  }
  &.pressed {
    @include pjColorWithMapExt($pj-tab-text-item-style, pressed);
    & .icon {
      @include pjColorWithMapExt($pj-tab-text-item-style, pressed, icon);
    }
  }
}
