<div class="pj-address-form flex flex-col gap-8">
  <pj-dropdown-selection label="Country" pjSize="xl" class="flex-1 mr-4" [menuItems]="getSupportedCountries()"
    [item]="getCountryItem()">
  </pj-dropdown-selection>


  <pj-text-entry pjSize="xl" [entryConfig]="{label: 'Name', focused: true,labelled: true}"
    [formControl]="getFormControl('fullName')">
  </pj-text-entry>
  <pj-text-entry pjSize="xl" [entryConfig]="{label: 'Street address',labelled: true}"
    [formControl]="getFormControl('addressLine1')">
  </pj-text-entry>
  <pj-text-entry pjSize="xl" [entryConfig]="{label: 'Address line 2 (apt, unit, suite, etc.)',labelled: true}"
    [formControl]="getFormControl('addressLine2')">
  </pj-text-entry>
  <pj-text-entry pjSize="xl" class="flex-1" [entryConfig]="{label: 'City',labelled:true}"
    [formControl]="getFormControl('city')">
  </pj-text-entry>

  <div class="flex flex-row gap-4">
    <pj-dropdown-selection [maxHeight]="100" class="flex-1" pjSize="lg" label="State" [item]="getStateItem()"
      [menuItems]="getSupportedStates()" (itemClicked)="onStateChanged($event)">
    </pj-dropdown-selection>
    <pj-text-entry pjSize="lg" class="flex-1" [entryConfig]="{label: 'Zip code',labelled:true}"
      [formControl]="getFormControl('postcode')">
    </pj-text-entry>
  </div>
  <!-- <pj-text-entry pjSize="xl" [entryConfig]="{label: 'Phone',labelled:true}" [formControl]="getFormControl('phone')">
  </pj-text-entry> -->
  <pj-phone-number-entry pjSize="lg" leftPerfixSign="US +1" [formControl]="getFormControl('phone')" [noInput]="notInputPhone()" 
    [entryConfig]="{label: 'New phone number', labelled: true, maxLength: 10, placeholder: '--- --- ----'}">
  </pj-phone-number-entry>
  <pj-switch *ngIf="isShippingAddress()" [switchData]="getShippingInstruction()" (click)="onToggleClick()"></pj-switch>
  <div *ngIf="isIncludeInstruction()" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <div class="instructionTitle">Type of property</div>
      <pj-selection-group [singleSelection]="true">
        <div class="flex flex-row items-center gap-4">
          <div selItem *ngFor="let p of getPropertyType()">
            <div class="flex flex-col items-center justify-center propertyType">
              <pj-icon class="icon" [iconName]="p.value"></pj-icon>
              <div class="label">{{p.key}}</div>
            </div>
          </div>
        </div>
      </pj-selection-group>
    </div>
    <div class="flex flex-col gap-2">
      <div class="instructionTitle">Instructions</div>
      <pj-round-accordion [accordionData]="{ label: 'Where should we leave your package at this address??' }">
      </pj-round-accordion>
      <pj-round-accordion
        [accordionData]="{ label: 'Do we need a security code or something else to access the property?' }">
      </pj-round-accordion>
      <pj-round-accordion [accordionData]="{label:'Does this address accept deliveries on weekends?'}">
      </pj-round-accordion>
      <pj-round-accordion [accordionData]="{label: 'Any additional instructions to find this address?'}">
      </pj-round-accordion>
    </div>
  </div>
  <pj-checkbox *ngIf="isShippingAddress()" [label]="'Set as default shipping address'" [checked]="isChecked()">
  </pj-checkbox>
  <div class="flex flex-row">
    <pj-button-cta *ngIf="hasCancle()" class="flex-1 mr-4" btnType="outlined" pjColor="neutral" pjSize="xl"
      [label]="'Cancel'" (click)="onCancelBtnClick()">
    </pj-button-cta>
    <pj-button-cta class="flex-1" btnType="filled" pjColor="secondary" pjSize="xl" [label]="getSaveBtnLabel()"
      [disabled]="invaliedInput()" (click)="onSaveBtnClick()">
    </pj-button-cta>
  </div>
</div>