@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-chip-filter-font: (
  label: $pj-label-lg,
  quantity: $pj-body-2,
  icon: 18px,
);

$pj-chip-filter-measurement: (
  sm: (
    border: 1px,
    height: 40px,
    radius: 40px,
    padding: 8px 16px 8px 16px,
    withClose: (padding: 8px 12px 8px 16px)
  ),
  lg: (
    border: 1px,
    height: 40px,
    radius: 40px,
    padding: 4px 16px 4px 4px,
    withClose: (padding: 4px 12px 4px 4px)
  ),
);

$pj-chip-filter-style: (
  bg: map-get($pj-neutral, 50),
  bd: map-get($pj-neutral, 50),
  label: (
    fg: map-get($pj-neutral, 800),
  ),
  quantity: (
    fg: map-get($pj-neutral, 600),
  ),
  hover: (
    bg: map-get($pj-neutral, 50),
    bd: map-get($pj-neutral, 150),
  ),
  focused: (
    bg: map-get($pj-secondary, 50),
    bd: map-get($pj-secondary, 500),
    label: (
      fg: map-get($pj-secondary, 600),
    ),
    icon: (
      fg: map-get($pj-secondary, 400),
    ),
  ),
  pressed: (
    bg: map-get($pj-neutral, 100),
    bd: map-get($pj-neutral, 150),
  ),
);

.pj-chip-filter {
  cursor: pointer;
  @include pjColorWithMapExt($pj-chip-filter-style);
  & .icon {
    font-size: map-get($pj-chip-filter-font, icon);
  }
  @each $size in $pj-size-2level {
    &.#{$size} {
      border-style: solid;
      @include pjMeasurementWithMapExt($pj-chip-filter-measurement, $size);
      &.focused {
        @include pjMeasurementWithMapExt($pj-chip-filter-measurement, $size, withClose);
      }
    }
  }
  @each $part in (label, quantity, icon) {
    & .#{$part} {
      font: map-get($pj-chip-filter-font, $part);
      @include pjColorWithMapExt($pj-chip-filter-style, $part);
    }
  }
  &:hover {
    @include pjColorWithMapExt($pj-chip-filter-style, hover);
  }
  &.pressed {
    @include pjColorWithMapExt($pj-chip-filter-style, pressed);
  }
  &.focused {
    & .icon {
      pointer-events: all;
    }
    @include pjColorWithMapExt($pj-chip-filter-style, focused);
    @each $part in (label, quantity, icon) {
      & .#{$part} {
        @include pjColorWithMapExt($pj-chip-filter-style, focused, $part);
      }
    }
    &.pressed {
      @include pjColorWithMapExt($pj-chip-filter-style, focused);
    }
  }
}
