@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-info-card-part: (label, value);
$pj-info-card-font: (
  value: $pj-h1,
  label: $pj-strong-2,
  fieldIcon: 24px,
);
$pj-info-card-measurement: (
  height: 162px,
  padding: 16px,
  radius: 16px,
);
$pj-info-card-style: (
  sdA: map-get($pj-brand-shadow, 2a),
  sdB: map-get($pj-brand-shadow, 2b),
  value: ( fg: map-get($pj-brand, 800)),
  label: ( fg: map-get($pj-brand, 700)),
  fieldIcon: ( fg: map-get($pj-brand, 700)),
);

.pj-info-card {
  background: linear-gradient(143.7deg, #ffecd2 6.98%, #fcb69f 104.84%);
  & .fieldIcon {
    font-size: map-get($pj-info-card-font, fieldIcon);
    @include pjColorWithMapExt($pj-info-card-style, fieldIcon);
  }
  @include pjMeasurementWithMapExt($pj-info-card-measurement);
  @include pjColorWithMapExt($pj-info-card-style);
  @each $part in $pj-info-card-part {
    & .#{$part} {
      font: map-get($pj-info-card-font, $part);
      @include pjColorWithMapExt($pj-info-card-style, $part);
    }
  }
}
