@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

.pj-credit-card-new {
  min-width: 448px;
  & .cvv {
    min-width: 200px;
  }
  & .dateField {
    min-width: 90px;
  }
}
