<div class="pj-credit-card-new flex flex-col gap-4">
  <pj-credit-card-supported [title]="title" [acceptedCardNames]="acceptedCardNames"></pj-credit-card-supported>
  <pj-card-number-entry pjSize="lg" [formControl]="getFormControl('idNumber')"></pj-card-number-entry>
  <div class="flex flex-row flex-wrap items-start gap-4">
    <pj-text-entry class="flex-1 cvv" [entryConfig]="{label: 'CVV', labelled: true, passwordEnabled: true}" pjSize="lg"
      [formControl]="getFormControl('cvv')">
    </pj-text-entry>
    <div class="flex-grow flex flex-row justify-between items-center gap-4">
      <pj-dropdown-selection class="flex-grow dateField" pjSize="lg" [menuItems]="getYears()" label="Expiry date, year"
        (itemClicked)="yearSelected($event)"></pj-dropdown-selection>
      <pj-dropdown-selection class="flex-grow dateField" pjSize="lg" [menuItems]="getMonth()" label="month"
        [item]="getMonthItem()" (itemClicked)="monthSelected($event)"></pj-dropdown-selection>
    </div>
  </div>
  <pj-text-entry [entryConfig]="{label: 'Name on card', labelled: true}" pjSize="lg"
    [formControl]="getFormControl('holder')">
  </pj-text-entry>
</div>