@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-password-reset-option-part:(label);
$pj-password-reset-option-font:(label: $pj-h5);
$pj-password-reset-option-style:(
    label: (fg: map-get($pj-primary, 600)),
);

.pj-password-reset-option {
    @each $part in $pj-password-reset-option-part {
        & .#{$part} {
            font: map-get($pj-password-reset-option-font, $part);
            @include pjColorWithMapExt($pj-password-reset-option-style, $part);
        }
    }
}
