<pj-panel [minWidth]="'400px'" [maxWidth]="'400px'">
    <div class="pj-password-reset-option flex flex-col">
        <div class="label text-center mb-8 cursor-default">Reset my password</div>
        <pj-button-cta class="mb-3" btnType="outlined" pjColor="secondary" pjSize="lg" [leftIconName]="'email'"
            [label]="'Reset via email'" (click)="onEmailResetBtnClick()">
        </pj-button-cta>
        <pj-button-cta class="mb-3" btnType="outlined" pjColor="secondary" pjSize="lg" [leftIconName]="'phone'"
            [label]="'Reset via phone'" (click)="onPhoneResetBtnClick()">
        </pj-button-cta>
        <!-- <pj-button-cta class="mb-8" btnType="outlined" pjColor="secondary" pjSize="lg" [leftIconName]="'vpn_key'"
        [label]="'Reset via security questions'" (click)="onQuestionResetBtnClick()"></pj-button-cta> -->
        <pj-button-cta btnType="outlined" pjColor="neutral" pjSize="lg" [leftIconName]="'vpn_key'"
            [label]="'Return to login'" (click)="onLoginBtnClick()"></pj-button-cta>
    </div>
</pj-panel>