@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import '/src/scss/ngxdatatable.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: pj-font-regular, Roboto, "Helvetica Neue", sans-serif;
  background-color: $pj-white; //map-get($pj-neutral, 10);
}

// 统一配置layout中的<pj-content>内的插入<router-outlet>中的内容的样式

.page-content+* {
  position: relative;
  // position: absolute;
  // left: 320px;
  // display: grid;
}

// @media (max-width: map-get($pj-content-breakpoint, xs-max)) {
//   .page-content+* {
//     grid-template-columns: repeat(4, minmax(0, 1fr));
//     gap: 16px;
//     margin: 20px;
//   }
// }
// @media (max-width: map-get($pj-content-breakpoint, sm-max)) {
//   .page-content+* {
//     grid-template-columns: repeat(8, minmax(0, 1fr));
//     gap: 16px;
//     margin: 32px;
//   }
// }
// @media (min-width: map-get($pj-content-breakpoint, md-min)) {
//   .page-content+* {
//     grid-template-columns: repeat(12, minmax(0, 1fr));
//     gap: 32px;
//     margin: 32px;
//   }
// }

h1 {
  font: $pj-h1;
}

h2 {
  font: $pj-h2;
}

h3 {
  font: $pj-h3;
}

h4 {
  font: $pj-h4;
}

h5 {
  font: $pj-h5;
}

h6 {
  font: $pj-h6;
}

.scrollbar-space {
  overflow-y: overlay;
  margin-right: map-get($pj-scrollbar, size-hover);
}

::-webkit-scrollbar {
  width: map-get($pj-scrollbar, size);
  height: map-get($pj-scrollbar, size);
}

*:hover::-webkit-scrollbar {
  width: map-get($pj-scrollbar, size-hover);
  height: map-get($pj-scrollbar, size-hover);
}

::-webkit-scrollbar-track {
  border-radius: map-get($pj-scrollbar, radius);
  background-color: map-get($pj-scrollbar, tracker);
}

::-webkit-scrollbar-thumb {
  border-radius: map-get($pj-scrollbar, radius);
  background-color: map-get($pj-scrollbar, thumb);

  &:hover {
    background-color: map-get($pj-scrollbar, thumb-hover);
  }

  &:active {
    background-color: map-get($pj-scrollbar, thumb-active);
  }
}
.pj-layout-grid {
  & .col-span-1 {
    grid-column: span 1 / span 1;
  }
  & .col-span-2 {
    grid-column: span 2 / span 2;
  }
  & .col-span-3 {
    grid-column: span 3 / span 3;
  }
  & .col-span-4 {
    grid-column: span 4 / span 4;
  }
  & .col-span-5 {
    grid-column: span 5 / span 5;
  }
  & .col-span-6 {
    grid-column: span 6 / span 6;
  }
  & .col-span-7 {
    grid-column: span 7 / span 7;
  }
  & .col-span-8 {
    grid-column: span 8 / span 8;
  }
  & .col-span-9 {
    grid-column: span 9 / span 9;
  }
  & .col-span-10 {
    grid-column: span 10 / span 10;
  }
  & .col-span-11 {
    grid-column: span 11 / span 11;
  }
  & .col-span-12 {
    grid-column: span 12 / span 12;
  }

  & .col-start-1 {
    grid-column-start: 1;
  }
  & .col-start-2 {
    grid-column-start: 2;
  }
  & .col-start-3 {
    grid-column-start: 3;
  }
  & .col-start-4 {
    grid-column-start: 4;
  }
  & .col-start-5 {
    grid-column-start: 5;
  }
  & .col-start-6 {
    grid-column-start: 6;
  }
}

@each $size in (xs, sm, md, lg, xl, xxl) {
  .pj-layout-grid.#{$size} {
    & .p\:#{$size}\:col-span-1 {
      grid-column: span 1 / span 1;
    }
    & .p\:#{$size}\:col-span-2 {
      grid-column: span 2 / span 2;
    }
    & .p\:#{$size}\:col-span-3 {
      grid-column: span 3 / span 3;
    }
    & .p\:#{$size}\:col-span-4 {
      grid-column: span 4 / span 4;
    }
    & .p\:#{$size}\:col-span-5 {
      grid-column: span 5 / span 5;
    }
    & .p\:#{$size}\:col-span-6 {
      grid-column: span 6 / span 6;
    }
    & .p\:#{$size}\:col-span-7 {
      grid-column: span 7 / span 7;
    }
    & .p\:#{$size}\:col-span-8 {
      grid-column: span 8 / span 8;
    }
    & .p\:#{$size}\:col-span-9 {
      grid-column: span 9 / span 9;
    }
    & .p\:#{$size}\:col-span-10 {
      grid-column: span 10 / span 10;
    }
    & .p\:#{$size}\:col-span-11 {
      grid-column: span 11 / span 11;
    }
    & .p\:#{$size}\:col-span-12 {
      grid-column: span 12 / span 12;
    }

    & .p\:#{$size}\:col-start-1 {
      grid-column-start: 1;
    }
    & .p\:#{$size}\:col-start-2 {
      grid-column-start: 2;
    }
    & .p\:#{$size}\:col-start-3 {
      grid-column-start: 3;
    }
    & .p\:#{$size}\:col-start-4 {
      grid-column-start: 4;
    }
    & .p\:#{$size}\:col-start-5 {
      grid-column-start: 5;
    }
    & .p\:#{$size}\:col-start-6 {
      grid-column-start: 6;
    }

    & .p\:#{$size}\:hidden {
      display: none;
    }
  }
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  // font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  &.round {
    font-family: 'Material Icons Round';
  }
  &.outlined {
    font-family: 'Material Icons Outlined';
  }
}

.swiper-slide {
  width:auto;
  height:auto;
}

.pj-content-center {
  margin: 0 auto;
}

.pj-selection-disable {
    -webkit-user-select: none;  
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;        
}
.truncate-text-line-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@each $lines in (2, 3, 4, 5, 6) {
  .truncate-text-line-#{$lines} {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.simpleHeader {
  background-color: $pj-white;
  width: 100%;
  height: 72px;
  padding: 16px;
}


.helperBtn {
  position: fixed;
}


@media (max-width: map-get($pj-screen-breakpoint, xs-max)) {
  .helperBtn {
      right: 16px;
      bottom: 16px;
  }
}

@media (min-width: map-get($pj-screen-breakpoint, sm-min)) {
  .helperBtn {
      right: 32px;
      bottom: 64px;
  }
}

.background_image_style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.5s;
}

.neutral-background {
  background-color: map-get($pj-neutral, 10);
}

.white-background {
  background-color: $pj-white;
}

.pj-inline-link {
  cursor: pointer;
  text-decoration: underline;
  &.secondary {
    color: map-get($pj-secondary, 600);
    &:hover {
      color: map-get($pj-secondary, 800);
    }
    &.pressed {
      color: map-get($pj-secondary, 900);
    }
  }
  &.neutral {
    color: map-get($pj-neutral, 400);
    &:hover {
      color: map-get($pj-neutral, 700);
    }
    &.pressed {
      color: map-get($pj-neutral, 900);
    }
  }
}

.pj-modal-bg-css-class {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: map-get($zIndex, modalBackground);
  background: $pj-mask;
  backdrop-filter: blur(16px);
}

@media print {
  .notPrint{
    display: none;
  }
}