<pj-text-entry pjSize="lg" [entryConfig]="{label: 'Email', focused: true, labelled: true}"
  (enterKeyPressed)="onEnterKeyPressed(btnElm)" [formControl]="getEmailFormControl()"></pj-text-entry>
<!-- <re-captcha class="self-center" (resolved)="onResolved($event)" [siteKey]="getSiteKey()"></re-captcha> -->
<!-- <div *ngIf="isCaptchaError()" class="captchaError">Please verify that you are not a robot.</div> -->
<pj-button-cta #btnElm btnType="filled" pjColor="secondary" pjSize="lg" label="Continue" PjCaptcha
  (captchaChanged)="onContinueBtnClick($event)"></pj-button-cta>