<div class="pj-feedback-banner flex flex-row items-center justify-between" PjScreenItem [ngClass]="getCompColor()">
  <div class="flex flex-row gap-3 items-center">
    <div *ngIf="hasIcon()" class="iconBackground">
      <pj-icon class="icon" [iconName]="getIconName()"></pj-icon>
    </div>
    <pj-image *ngIf="hasImage()" [imageData]="getFeedbackImageData()"></pj-image>
    <div class="flex flex-col items-start">
      <div class="label">{{getFeedbackBannerLabel()}}</div>
      <div class="description" *ngIf="hasDescription()">{{getFeedbackBannerDescription()}}</div>
    </div>
    
  </div>
  <div class="flex flex-row items-center gap-2">
    <pj-button-cta *ngIf="hasAction()" btnType="outlined" [label]="getBtnLabel()" pjColor="whiteBtn"
      [pjSize]="getBtnSize()" (click)="onActionBtnClick()">
    </pj-button-cta>
    <pj-button-icon *ngIf="hasCloseBtn()" btnType="text" iconName="close" pjColor="whiteBtn" [pjSize]="getBtnSize()"
      (click)="onCloseBtnClick()"></pj-button-icon>
  </div>
</div>