<div class="pj-accordion flex flex-col" [ngClass]="getHoverClass()" pjDefaultSize="lg">
  <div class="title flex flex-row items-center justify-between" [ngClass]="getHoverClass()"
    (mouseenter)="onTitleHover()" (mouseleave)="onTitleBlur()">
    <div class="flex flex-col gap-1">
      <div class="flex flex-row items-center">
        <pj-icon *ngIf="hasIcon()" class="icon mr-2" [iconName]="getIconName()"></pj-icon>
        <div class="label">{{ getLabel() }}</div>
      </div>
      <div *ngIf="hasDescription()" class="description">{{getDescription()}}</div>
    </div>
    <pj-icon class="expandIcon" [iconName]="getExpandedStatusIcon()"></pj-icon>
  </div>
  <div class="content" *ngIf="isExpanded()" (click)="onContentClick($event)">
    <ng-content></ng-content>
  </div>
</div>