@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

input {
    border: 1px solid map-get($pj-neutral, 100);
    border-radius: 8px;
    box-shadow: 0px 0.5px 2px 0px rgb(96 102 112 / 18%), 0px 0px 1px 0px rgb(71 76 84 / 8%);
}

input:focus {
    outline: none;
    border-color: map-get($pj-secondary, 500);
    box-shadow: 0px 0px 0px 4px #D9E7FF;
}

::-webkit-datetime-edit {
    padding: 8px 0px 8px 10px;
    color: map-get($pj-secondary, 900);
}

::-webkit-calendar-picker-indicator {
    padding: 8px 10px 8px 0px;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
  
}