@import '/src/scss/customize';
@import '/src/scss/color';
@import '/src/scss/typography';

$pj-keyword-font: (keyword: $pj-body-1, otherPart: $pj-label-xl);

$pj-keyword-measurement: (padding: 12px, radius: 8px);

$pj-keyword-style: (
    keyword: (fg: map-get($pj-neutral, 600)),
    otherPart: (fg: map-get($pj-neutral, 800)),
    hover: (
        bg: map-get($pj-secondary, 50),
        keyword: (fg: map-get($pj-secondary, 600)),
        otherPart: (fg: map-get($pj-secondary, 600)),
    ),
    pressed: (
        bg: map-get($pj-secondary, 100),
        keyword: (fg: map-get($pj-secondary, 600)),
        otherPart: (fg: map-get($pj-secondary, 600)),
    ),
);

.pj-keyword {
    cursor: pointer;
    @include pjMeasurementWithMapExt($pj-keyword-measurement);

    &:hover {
        @include pjColorWithMapExt($pj-keyword-style, hover);
    }
    &.pressed {
        @include pjColorWithMapExt($pj-keyword-style, pressed);
    }
    @each $part in (keyword, otherPart) {
        & .#{$part} {
            font: map-get($pj-keyword-font, $part);
            @include pjColorWithMapExt($pj-keyword-style, $part);
        }
        &:hover .#{$part}{
            @include pjColorWithMapExt($pj-keyword-style, hover, $part);
        }
        &.pressed .#{$part}{
            @include pjColorWithMapExt($pj-keyword-style, pressed, $part);
        }
    }
}