<div class="pj-tab-group flex flex-col cursor-default">
  <div class="flex flex-row items-center" [ngClass]="getTanGroupClass()">
    <div *ngFor="let tabItem of tabItemsData">
      <ng-container [ngSwitch]="tabType">
        <ng-container *ngSwitchCase="'underlined'">
          <pj-tab-underlined-item [item]="tabItem" pjSize="{{ getItemSize() }}" (click)="onTitleClick($event, tabItem)">
          </pj-tab-underlined-item>
        </ng-container>
        <ng-container *ngSwitchCase="'pill'">
          <pj-tab-pill-item [item]="tabItem" pjSize="{{ getItemSize() }}" (click)="onTitleClick($event, tabItem)">
          </pj-tab-pill-item>
        </ng-container>
        <ng-container *ngSwitchCase="'text'">
          <pj-tab-text-item [item]="tabItem" pjSize="{{ getItemSize() }}" (click)="onTitleClick($event, tabItem)">
          </pj-tab-text-item>
        </ng-container>
        <ng-container *ngSwitchCase="'outlined'">
          <pj-tab-outlined-item [item]="tabItem" pjSize="{{ getItemSize() }}" (click)="onTitleClick($event, tabItem)"
            [pjColor]="pjColor||''">
          </pj-tab-outlined-item>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div *ngFor="let tabItem of tabItemsData">
  <div *ngIf="isActived(tabItem)">
    <ng-content *ngTemplateOutlet="getTabContent(tabItem)"></ng-content>
  </div>
</div>