@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-button-cta-size: (md, lg, xl);

$pj-button-cta-type: (text, filled, outlined, elevated);

$pj-button-cta-color: (secondary, brand, neutral, error, success, whiteBtn,blackBtn);

$pj-button-cta-item-class: ();

$pj-button-cta-font: (md: $pj-label-md,lg: $pj-label-lg,xl: $pj-label-xl);

$pj-button-cta-icon-size: (md: 18px,lg: 20px,xl: 24px);

$pj-button-cta-measurement: (
    md: (
      width: 100%,height: 32px,radius: 32px,
      padding: 7px 12px 7px 12px,
      badgeiconClass:(padding: 6px),
      badgeClass:(padding: 6px 6px 6px 12px),
      leftIconClass:(padding: 7px 12px 7px 8px),
      rightIconClass:(padding: 7px 8px 7px 12px),
    ),
    lg: (
      width: 100%,height: 40px,radius: 40px,
      padding: 8px 16px 8px 16px,
      badgeiconClass:(padding: 8px 10px 8px 12px),
      badgeClass:(padding: 8px 10px 8px 16px),
      leftIconClass:(padding: 8px 18px 8px 12px),
      rightIconClass:(padding: 8px 12px 8px 18px),
    ),
    xl: (
      width: 100%,height: 48px,radius: 48px,
      padding: 12px 24px 12px 24px,
      badgeiconClass:(padding: 12px),
      badgeClass:(padding: 12px 12px 12px 16px),
      leftIconClass:(padding: 12px 22px 12px 16px),
      rightIconClass:(padding: 12px 16px 12px 22px),
    ),
);

$pj-button-cta-style: (
  text: (
    whiteBtn: (
      hover: (bd: $pj-white),
      focused: (bd: $pj-white, bg: $pj-white),
      pressed: (bd: $pj-white, bg: $pj-white),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: map-get($pj-neutral, 800)),
        pressed: (fg: $pj-black),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: map-get($pj-neutral, 800)),
        pressed: (fg: map-get($pj-neutral, 800)),
        disabled: (fg: $pj-white),
      ),
    ),
    success: (
      hover: (bg: map-get($pj-success, 50)),
      focused: (bg: map-get($pj-success, 50)),
      pressed: (bg: map-get($pj-success, 100)),
      icon: (
        fg: map-get($pj-success, 700),
        hover: (fg: map-get($pj-success, 700)),
        focused: (fg: map-get($pj-success, 700)),
        pressed: (fg: map-get($pj-success, 700)),
        disabled: (fg: map-get($pj-success, 200)),
      ),
      label: (
        fg: map-get($pj-success, 700),
        hover: (fg: map-get($pj-success, 700)),
        focused: (fg: map-get($pj-success, 700)),
        pressed: (fg: map-get($pj-success, 700)),
        disabled: (fg: map-get($pj-success, 200)),
      ),
    ),
    secondary: (
      hover: (bg: map-get($pj-secondary, 100)),
      focused: (bg: map-get($pj-secondary, 100)),
      pressed: (bg: map-get($pj-secondary, 150)),
      icon: (
        fg: map-get($pj-secondary, 600),
        hover: (fg: map-get($pj-secondary, 600)),
        focused: (fg: map-get($pj-secondary, 600)),
        pressed: (fg: map-get($pj-secondary, 600)),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
      label: (
        fg: map-get($pj-secondary, 600),
        hover: (fg: map-get($pj-secondary, 600)),
        focused: (fg: map-get($pj-secondary, 600)),
        pressed: (fg: map-get($pj-secondary, 600)),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
    ),
    brand: (
      hover: (bg: map-get($pj-brand, 100)),
      focused: (bg: map-get($pj-brand, 100)),
      pressed: (bg: map-get($pj-brand, 150)),
      icon: (
        fg: map-get($pj-brand, 700),
        hover: (fg: map-get($pj-brand, 700)),
        focused: (fg: map-get($pj-brand, 700)),
        pressed: (fg: map-get($pj-brand, 700)),
        disabled: (fg: map-get($pj-brand, 200)),
      ),
      label: (
        fg: map-get($pj-brand, 700),
        hover: (fg: map-get($pj-brand, 700)),
        focused: (fg: map-get($pj-brand, 700)),
        pressed: (fg: map-get($pj-brand, 700)),
        disabled: (fg: map-get($pj-brand, 200)),
      ),
    ),
    neutral: (
      hover: (bg: map-get($pj-neutral, 50)),
      focused: (bg: map-get($pj-neutral, 50)),
      pressed: (bg: map-get($pj-neutral, 100)),
      icon: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: map-get($pj-neutral, 600)),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: map-get($pj-neutral, 600)),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
    error: (
      hover: (bg: map-get($pj-error, 50)),
      focused: (bg: map-get($pj-error, 50)),
      pressed: (bg: map-get($pj-error, 100)),
      icon: (
        fg: map-get($pj-error, 600),
        hover: (fg: map-get($pj-error, 600)),
        focused: (fg: map-get($pj-error, 600)),
        pressed: (fg: map-get($pj-error, 600)),
        disabled: (fg: map-get($pj-error, 200)),
      ),
      label: (
        fg: map-get($pj-error, 600),
        hover: (fg: map-get($pj-error, 600)),
        focused: (fg: map-get($pj-error, 600)),
        pressed: (fg: map-get($pj-error, 600)),
        disabled: (fg: map-get($pj-error, 200)),
      ),
    ),
  ),
  outlined: (
    secondary: (
      bd: map-get($pj-secondary, 150),
      hover: (bd: map-get($pj-secondary, 600)),
      focused: (bd: map-get($pj-secondary, 600),bg: map-get($pj-secondary, 50)),
      pressed: (bd: map-get($pj-secondary, 600),bg: map-get($pj-secondary, 100)),
      disabled: (bd: map-get($pj-secondary, 150)),
      icon: (
        fg: map-get($pj-secondary, 600),
        hover: (fg: map-get($pj-secondary, 600)),
        focused: (fg: map-get($pj-secondary, 600)),
        pressed: (fg: map-get($pj-secondary, 600)),
        disabled: (fg: map-get($pj-secondary, 150)),
      ),
      label: (
        fg: map-get($pj-secondary, 600),
        hover: (fg: map-get($pj-secondary, 600)),
        focused: (fg: map-get($pj-secondary, 600)),
        pressed: (fg: map-get($pj-secondary, 600)),
        disabled: (fg: map-get($pj-secondary, 150)),
      ),
    ),
    brand: (
      bd: map-get($pj-brand, 150),
      hover: (bd: map-get($pj-brand, 700)),
      focused: (bd: map-get($pj-brand, 700),bg: map-get($pj-brand, 10)),
      pressed: (bd: map-get($pj-brand, 700),bg: map-get($pj-brand, 100)),
      disabled: (bd: map-get($pj-brand, 150)),
      icon: (
        fg: map-get($pj-brand, 700),
        hover: (fg: map-get($pj-brand, 700)),
        focused: (fg: map-get($pj-brand, 700)),
        pressed: (fg: map-get($pj-brand, 700)),
        disabled: (fg: map-get($pj-brand, 200)),
      ),
      label: (
        fg: map-get($pj-brand, 700),
        hover: (fg: map-get($pj-brand, 700)),
        focused: (fg: map-get($pj-brand, 700)),
        pressed: (fg: map-get($pj-brand, 700)),
        disabled: (fg: map-get($pj-brand, 200)),
      ),
    ),
    neutral: (
      bd: map-get($pj-neutral, 100),
      hover: (bd: map-get($pj-neutral, 600)),
      focused: (bd: map-get($pj-neutral, 800),bg: map-get($pj-neutral, 800)),
      pressed: (bd: map-get($pj-neutral, 600),bg: map-get($pj-neutral, 50)),
      disabled: (bd: map-get($pj-neutral, 100)),
      icon: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
    error: (
      bd: map-get($pj-error, 150),
      hover: (bd: map-get($pj-error, 600)),
      focused: (bd: map-get($pj-error, 600),bg: map-get($pj-error, 10)),
      pressed: (bd: map-get($pj-error, 600),bg: map-get($pj-error, 50)),
      disabled: (bd: map-get($pj-error, 150)),
      icon: (
        fg: map-get($pj-error, 600),
        hover: (fg: map-get($pj-error, 600)),
        focused: (fg: map-get($pj-error, 600)),
        pressed: (fg: map-get($pj-error, 600)),
        disabled: (fg: map-get($pj-error, 150)),
      ),
      label: (
        fg: map-get($pj-error, 600),
        hover: (fg: map-get($pj-error, 600)),
        focused: (fg: map-get($pj-error, 600)),
        pressed: (fg: map-get($pj-error, 600)),
        disabled: (fg: map-get($pj-error, 150)),
      ),
    ),
    success: (
      bd: map-get($pj-success, 150),
      hover: (bd: map-get($pj-success, 700)),
      focused: (bd: map-get($pj-success, 700),bg: map-get($pj-success, 10)),
      pressed: (bd: map-get($pj-success, 700),bg: map-get($pj-success, 50)),
      disabled: (bd: map-get($pj-success, 150)),
      icon: (
        fg: map-get($pj-success, 700),
        hover: (fg: map-get($pj-success, 700)),
        focused: (fg: map-get($pj-success, 700)),
        pressed: (fg: map-get($pj-success, 700)),
        disabled: (fg: map-get($pj-success, 150)),
      ),
      label: (
        fg: map-get($pj-success, 700),
        hover: (fg: map-get($pj-success, 700)),
        focused: (fg: map-get($pj-success, 700)),
        pressed: (fg: map-get($pj-success, 700)),
        disabled: (fg: map-get($pj-success, 150)),
      ),
    ),
    whiteBtn: (
      bd: $pj-white,
      hover: (bd: $pj-white, bg: $pj-white),
      focused: (bd: $pj-style,bg: $pj-style),
      pressed: (bd: map-get($pj-neutral, 100),bg: map-get($pj-neutral, 100)),
      disabled: (bd: $pj-white),
      icon: (
        fg: $pj-white,
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: map-get($pj-neutral, 900)),
        pressed: (fg: map-get($pj-neutral, 900)),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: map-get($pj-neutral, 900)),
        pressed: (fg: map-get($pj-neutral, 900)),
        disabled: (fg: $pj-white),
      ),
    ),
    blackBtn: (   
      bd: map-get($pj-neutral, 100),
      hover: (bd: map-get($pj-neutral, 600)),
      focused: (bd: map-get($pj-neutral, 800), bg: map-get($pj-neutral, 800)),
      pressed: (bd: map-get($pj-neutral, 800), bg: map-get($pj-neutral, 800)),
      disabled: (bd: map-get($pj-neutral, 100)),
      icon: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
  ),
  elevated: (
    whiteBtn: (
      bg: $pj-white,
      sdA: map-get($pj-neutral-shadow, 2a),
      sdB: map-get($pj-neutral-shadow, 2b),
      hover: (bg: map-get($pj-neutral, 50)),
      focused: (bg: map-get($pj-neutral, 800)),
      pressed: (bg: map-get($pj-neutral, 100)),
      disabled: (bg: $pj-white),
      icon: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 800)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 800)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
    secondary: (
      bg: map-get($pj-secondary, 500),
      sdA: map-get($pj-secondary-shadow, 2a),
      sdB: map-get($pj-secondary-shadow, 2b),
      hover: (bg: map-get($pj-secondary, 600)),
      focused: (bg: map-get($pj-secondary, 700)),
      pressed: (bg: map-get($pj-secondary, 700)),
      disabled: (bg: map-get($pj-secondary, 50)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
    ),
    brand: (
      bg: map-get($pj-brand, 500),
      sdA: map-get($pj-brand-shadow, 2a),
      sdB: map-get($pj-brand-shadow, 2b),
      hover: (bg: map-get($pj-brand, 600)),
      focused: (bg: map-get($pj-brand, 700)),
      pressed: (bg: map-get($pj-brand, 700)),
      disabled: (bg: map-get($pj-brand, 100)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-brand, 300)),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-brand, 300)),
      ),
    ),
    error: (
      bg: map-get($pj-error, 500),
      sdA: map-get($pj-neutral-shadow, 2a),
      sdB: map-get($pj-neutral-shadow, 2b),
      hover: (bg: map-get($pj-error, 600)),
      focused: (bg: map-get($pj-error, 700)),
      pressed: (bg: map-get($pj-error, 700)),
      disabled: (bg: map-get($pj-error, 150)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
    ),
    success: (
      bg: map-get($pj-success, 500),
      sdA: map-get($pj-neutral-shadow, 2a),
      sdB: map-get($pj-neutral-shadow, 2b),
      hover: (bg: map-get($pj-success, 600)),
      focused: (bg: map-get($pj-success, 700)),
      pressed: (bg: map-get($pj-success, 700)),
      disabled: (bg: map-get($pj-success, 150)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
    ),
    neutral: (
      bg: $pj-white,
      sdA: map-get($pj-neutral-shadow, 2a),
      sdB: map-get($pj-neutral-shadow, 2b),
      hover: (bg: map-get($pj-neutral, 50)),
      focused: (bg: map-get($pj-neutral, 900)),
      pressed: (bg: map-get($pj-neutral, 100)),
      disabled: (bg: $pj-white),
      icon: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 800)),
        disabled: (fg: map-get($pj-neutral, 150)),
      ),
      label: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: map-get($pj-neutral, 800)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 800)),
        disabled: (fg: map-get($pj-neutral, 150)),
      ),
    ),
  ),
  filled: (
    whiteBtn: (
      bg: $pj-white,
      hover: (bd: $pj-white, bg: transparent),
      focused: (bd: map-get($pj-neutral, 800), bg: map-get($pj-neutral, 800)),
      pressed: (bd: map-get($pj-neutral, 800), bg: map-get($pj-neutral, 800)),
      disabled: (bg: $pj-white),
      icon: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 800),
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
    secondary: (
      bg: map-get($pj-secondary, 500),
      hover: (bg: map-get($pj-secondary, 600)),
      focused: (bg: map-get($pj-secondary, 700)),
      pressed: (bg: map-get($pj-secondary, 700)),
      disabled: (bg: map-get($pj-secondary, 50)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-secondary, 200)),
      ),
    ),
    brand: (
      bg: map-get($pj-brand, 500),
      hover: (bg: map-get($pj-brand, 600)),
      focused: (bg: map-get($pj-brand, 700)),
      pressed: (bg: map-get($pj-brand, 700)),
      disabled: (bg: map-get($pj-brand, 100)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-brand, 300)),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: map-get($pj-brand, 300)),
      ),
    ),
    error: (
      bg: map-get($pj-error, 500),
      hover: (bg: map-get($pj-error, 600)),
      focused: (bg: map-get($pj-error, 700)),
      pressed: (bg: map-get($pj-error, 700)),
      disabled: (bg: map-get($pj-error, 150)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
    ),
    success: (
      bg: map-get($pj-success, 500),
      hover: (bg: map-get($pj-success, 600)),
      focused: (bg: map-get($pj-success, 700)),
      pressed: (bg: map-get($pj-success, 700)),
      disabled: (bg: map-get($pj-success, 150)),
      icon: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
      label: (
        fg: $pj-white,
        hover: (fg: $pj-white),
        focused: (fg: $pj-white),
        pressed: (fg: $pj-white),
        disabled: (fg: $pj-white),
      ),
    ),
    neutral: (
      bg: map-get($pj-neutral, 50),
      hover: (bg: map-get($pj-neutral, 100)),
      focused: (bg: map-get($pj-neutral, 900)),
      pressed: (bg: map-get($pj-neutral, 150)),
      disabled: (bg: map-get($pj-neutral, 50)),
      icon: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
      label: (
        fg: map-get($pj-neutral, 600),
        hover: (fg: map-get($pj-neutral, 600)),
        focused: (fg: $pj-white),
        pressed: (fg: map-get($pj-neutral, 600)),
        disabled: (fg: map-get($pj-neutral, 200)),
      ),
    ),
  )
);

.pj-button-cta {
  @each $btnSize in $pj-button-cta-size {
    &.#{$btnSize} {
      @include pjMeasurementWithMapExt($pj-button-cta-measurement, $btnSize);
      &.badgeiconClass {
        @include pjMeasurementWithMapExt($pj-button-cta-measurement, $btnSize, badgeiconClass);  
      }
      &.badgeClass {
        @include pjMeasurementWithMapExt($pj-button-cta-measurement, $btnSize, badgeClass);  
      }
      &.leftIconClass {
        @include pjMeasurementWithMapExt($pj-button-cta-measurement, $btnSize, leftIconClass);  
      }
      &.rightIconClass {
        @include pjMeasurementWithMapExt($pj-button-cta-measurement, $btnSize, rightIconClass);  
      }
      & .icon {
        font-size: map-get($pj-button-cta-icon-size, $btnSize);
      }
      & .label {
        font: map-get($pj-button-cta-font, $btnSize);
      }
    }
  }
  &.outlined {
    border: 1px solid;
  }

}
@each $color in $pj-button-cta-color {
    @each $btnType in $pj-button-cta-type {
        .pj-button-cta.#{$btnType}.#{$color} {
          cursor: pointer;
          @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color);
          &:hover {
            @if $color == whiteBtn {
              @if $btnType == text {
                border-width: 1px;
                border-style: solid;
              }
              @if $btnType == filled {
                border-width: 1px;
                border-style: solid;
              }
            }
            @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, hover);
          }
          &.disabled {
            pointer-events: none;
            @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, disabled);
            @if $color == whiteBtn {
              opacity: 50%;
            }
          }
          &.pressed {
            @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, pressed);
          }
          &.focused {
            @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, focused);
          }
          @each $part in (icon, label) {
            & .#{$part} {
              @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, $part);
            }
            &:hover .#{$part} {
              @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, $part, hover);
            }
            &.pressed .#{$part}{
              @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, $part, pressed);
            }
            &.focused .#{$part}{
              @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, $part, focused);
            }
            &.disabled .#{$part} {
              @include pjColorWithMapExt($pj-button-cta-style, $btnType, $color, $part, disabled);
            }
          }
        }
    }
}

