<div class="pj-button-cta flex flex-row items-center justify-center relative" [ngClass]="getBtnClass()" pjPressable
  pjDefaultSize="lg" pjDefaultColor="neutral">
  <div class="flex flex-row items-center gap-1">
    <pj-icon class="icon" *ngIf="hasLeftIcon()" [iconName]="getLeftIconName()"></pj-icon>
    <div *ngIf="hasLabel()" class="flex-grow label pj-selection-disable">{{ getLabel() }}</div>
    <pj-icon class="icon" *ngIf="hasRightIcon()" [iconName]="getRightIconName()"></pj-icon>
  </div>
  <pj-badge class="ml-2" *ngIf="hasBadge()" [label]="getBadgeLabel()" pjColor="{{ getBadgeColor() }}"
    pjSize="{{ getBadgeSize() }}">
  </pj-badge>
</div>
