$pj-primary: (
  10: #F0F4FA,
  50: #E6ECF5,
  100: #D8DFEB,
  150: #C1CDE0,
  200: #B0BED6,
  300: #9BACC7,
  400: #7D8FAD,
  500: #5D6F8C,
  600: #3F5373,
  700: #1F304D,
  800: #0A1A33,
  900: #00050D,
);
$pj-primary-shadow: (
  inset: 0.0px 0.5px 4.0px 0px rgba(63, 83, 115, 0.18) inset,
  1a: 0.0px 0.5px 2.0px 0px rgba(125, 143, 173, 0.18),
  1b: 0.0px 0.0px 1.0px 0px rgba(63, 83, 115, 0.08),
  2a: 0.0px 2.0px 4.0px 0px rgba(125, 143, 173, 0.18),
  2b: 0.0px 0.0px 1.0px 0px rgba(63, 83, 115, 0.08),
  3a: 0.0px 4.0px 8.0px 0px rgba(125, 143, 173, 0.18),
  3b: 0.0px 0.0px 2.0px 0px rgba(63, 83, 115, 0.08),
  4a: 0.0px 8.0px 16.0px 0px rgba(125, 143, 173, 0.18),
  4b: 0.0px 2.0px 4.0px 0px rgba(63, 83, 115, 0.08),
  5a: 0.0px 16.0px 24.0px 0px rgba(125, 143, 173, 0.18),
  5b: 0.0px 2.0px 8.0px 0px rgba(63, 83, 115, 0.08),
  6a: 0.0px 20.0px 32.0px 0px rgba(125, 143, 173, 0.2),
  6b: 0.0px 2.0px 8.0px 0px rgba(63, 83, 115, 0.1),
);
$pj-secondary: (
  10: #FCFEFF,
  50: #F2F9FF,
  100: #D9E7FF,
  150: #B2D0FF,
  200: #72A7FC,
  300: #3F88FC,
  400: #196EF7,
  500: #005DF3,
  600: #004ECC,
  700: #003B99,
  800: #002766,
  900: #001333,
);
$pj-secondary-shadow: (
  inset: 0.0px 0.5px 4.0px 0px rgba(0, 78, 204, 0.18) inset,
  1a: 0.0px 0.5px 2.0px 0px rgba(114, 167, 252, 0.18),
  1b: 0.0px 0.0px 1.0px 0px rgba(0, 78, 204, 0.08),
  2a: 0.0px 2.0px 4.0px 0px rgba(114, 167, 252, 0.18),
  2b: 0.0px 0.0px 1.0px 0px rgba(0, 78, 204, 0.08),
  3a: 0.0px 4.0px 8.0px 0px rgba(114, 167, 252, 0.18),
  3b: 0.0px 0.0px 2.0px 0px rgba(0, 78, 204, 0.08),
  4a: 0.0px 8.0px 16.0px 0px rgba(114, 167, 252, 0.18),
  4b: 0.0px 2.0px 4.0px 0px rgba(0, 78, 204, 0.08),
  5a: 0.0px 16.0px 24.0px 0px rgba(114, 167, 252, 0.18),
  5b: 0.0px 2.0px 8.0px 0px rgba(0, 78, 204, 0.08),
  6a: 0.0px 20.0px 32.0px 0px rgba(114, 167, 252, 0.2),
  6b: 0.0px 2.0px 8.0px 0px rgba(0, 78, 204, 0.1),
);
$pj-brand: (
  10: #FFFBF7,
  50: #FFF5EB,
  100: #FFEBD6,
  150: #FFD9B2,
  200: #FCC48B,
  300: #FCAA58,
  400: #FC9732,
  500: #FB8925,
  600: #E57717,
  700: #B25300,
  800: #873F00,
  900: #663000,
);
$pj-brand-shadow: (
  inset: 0.0px 0.5px 4.0px 0px rgba(251, 137, 37, 0.18) inset,
  1a: 0.0px 0.5px 2.0px 0px rgba(252, 170, 88, 0.18),
  1b: 0.0px 0.0px 1.0px 0px rgba(251, 137, 37, 0.08),
  2a: 0.0px 2.0px 4.0px 0px rgba(252, 170, 88, 0.18),
  2b: 0.0px 0.0px 1.0px 0px rgba(251, 137, 37, 0.08),
  3a: 0.0px 4.0px 8.0px 0px rgba(252, 170, 88, 0.18),
  3b: 0.0px 0.0px 2.0px 0px rgba(251, 137, 37, 0.08),
  4a: 0.0px 8.0px 16.0px 0px rgba(252, 170, 88, 0.18),
  4b: 0.0px 2.0px 4.0px 0px rgba(251, 137, 37, 0.08),
  5a: 0.0px 16.0px 24.0px 0px rgba(252, 170, 88, 0.18),
  5b: 0.0px 2.0px 8.0px 0px rgba(251, 137, 37, 0.08),
  6a: 0.0px 20.0px 32.0px 0px rgba(252, 170, 88, 0.2),
  6b: 0.0px 2.0px 8.0px 0px rgba(251, 137, 37, 0.1),
);
$pj-neutral: (
  10: #F9FBFC,
  25: #F2F4F5,
  50: #EBEEF2,
  100: #DADFE5,
  150: #BCC2CC,
  200: #9299A6,
  300: #6F7580,
  400: #606670,
  500: #535962,
  600: #474C54,
  700: #2E3238,
  800: #17191C,
  900: #00050D,
);
$pj-neutral-shadow: (
  inset: 0.0px 0.5px 4.0px 0px rgba(71, 76, 84, 0.18) inset,
  1a: 0.0px 0.5px 2.0px 0px rgba(96, 102, 112, 0.18),
  1b: 0.0px 0.0px 1.0px 0px rgba(71, 76, 84, 0.08),
  2a: 0.0px 2.0px 4.0px 0px rgba(96, 102, 112, 0.18),
  2b: 0.0px 0.0px 1.0px 0px rgba(71, 76, 84, 0.08),
  3a: 0.0px 4.0px 8.0px 0px rgba(96, 102, 112, 0.18),
  3b: 0.0px 0.0px 2.0px 0px rgba(71, 76, 84, 0.08),
  4a: 0.0px 8.0px 16.0px 0px rgba(96, 102, 112, 0.18),
  4b: 0.0px 2.0px 4.0px 0px rgba(71, 76, 84, 0.08),
  5a: 0.0px 16.0px 24.0px 0px rgba(96, 102, 112, 0.18),
  5b: 0.0px 2.0px 8.0px 0px rgba(71, 76, 84, 0.08),
  6a: 0.0px 20.0px 32.0px 0px rgba(96, 102, 112, 0.2),
  6b: 0.0px 2.0px 8.0px 0px rgba(71, 76, 84, 0.1),
);
$pj-info: (
  10: #FCFEFF,
  50: #E1F1FA,
  100: #C4E1F5,
  150: #ABD4F5,
  200: #81B9EB,
  300: #529FEB,
  400: #388CE0,
  500: #1976D2,
  600: #095EB2,
  700: #004D99,
  800: #003366,
  900: #001A33,
);

$pj-success: (
  10: #EDFCF6,
  50: #D4F2E5,
  100: #C5EDDC,
  150: #B5E9D2,
  200: #96DFBF,
  300: #76D6AC,
  400: #57CC99,
  500: #39BC83,
  600: #2E996A,
  700: #247652,
  800: #1E6446,
  900: #195239,
);

$pj-warning: (
  10: #FFFDEB,
  50: #FFFBD6,
  100: #FFF8B8,
  150: #FFEC70,
  200: #FFE747,
  300: #FFDF0D,
  400: #FFD400,
  500: #F5C400,
  600: #E5B000,
  700: #CC8F00,
  800: #995C00,
  900: #7A3D00,
);

$pj-error: (
  10: #FDEFEF,
  50: #FADADB,
  100: #F8C6C7,
  150: #F5B2B3,
  200: #F0898B,
  300: #EA6163,
  400: #E5383B,
  500: #D31C1F,
  600: #AB1619,
  700: #8B1214,
  800: #5E0C0E,
  900: #48090A,
);

$pj-transparent: rgba(255, 255, 255, 0);

$pj-mask: linear-gradient( 119.04deg, rgba(25, 32, 44, 0.24) 17.85%, rgba(21, 21, 21, 0.06) 82.15% );

$pj-black: #000000;

$pj-white: #FFFFFF;

$pj-input-shadow: 0px 0px 0px 4px #D9E7FF;

$pj-style: (primary, secondary, brand, neutral, info, success, warning, error);
// 配置与颜色相关的属性
// frontground： 前景色
// background： 背景色
// border： 边框颜色
// shadowA： 阴影A
// shadowA： 阴影B
@mixin pjColor($frontground, $background, $border: null, $shadowA: null, $shadowB: null) {
  @if $frontground { 
    color: $frontground; 
  }
  @if $background { 
    background-color: $background;
  }
  @if $border {
    border-color: $border;
  }
  @if ($shadowA and ($shadowB == null)) {
    box-shadow: $shadowA;
  } @else if ($shadowA and $shadowB) {
    box-shadow: $shadowA, $shadowB;
  } @else {
    box-shadow: none;
  }
}

@mixin pjColorWithMapExt($colorMap, $key1: null, $key2: null, $key3: null, $key4: null) {
  @if $colorMap != null {
    @if $key1 {
      @include pjColorWithMap(map-get-ext($colorMap, $key1, $key2, $key3, $key4));
    } @else {
      @include pjColorWithMap($colorMap);
    }
  }
}

@mixin pjColorWithMap($colorMap) {
  @if $colorMap !=null {
    @include pjColor(
      map-get($colorMap, fg), 
      map-get($colorMap, bg), 
      map-get($colorMap, bd), 
      map-get($colorMap, sdA), 
      map-get($colorMap, sdB)
    );
  }
}
