@import "/src/scss/color";
@import "/src/scss/typography";
@import "/src/scss/customize";

$pj-dropdown-header-size: (md, lg, xl);
$pj-dropdown-header-font: ( 
  // md: $pj-label-md,
  // lg: $pj-label-lg,
  // xl: $pj-label-xl,
  md: $pj-body-2,
  lg: $pj-body-2,
  xl: $pj-body-2,
);
$pj-dropdown-header-icon-size: (md: 16px,
  lg: 18px,
  xl: 20px,
);
$pj-dropdown-header-dropdownicon-size: (md: 18px,
  lg: 24px,
  xl: 24px,
);

$pj-dropdown-header-measurement: (md: (height: 32px,
    radius: 8px,
    padding: 7px 6px 7px 12px,
    image: (width: 18px,
      height: 14px,
    ),
  ),
  lg: (height: 40px,
    radius: 8px,
    padding: 8px 8px 8px 12px,
    image: (width: 20px,
      height: 16px,
    ),
  ),
  xl: (height: 56px,
    radius: 12px,
    padding: 16px 12px 16px 16px,
    image: (width: 24px,
      height: 18px,
    ),
  ),
);

$pj-dropdown-header-style: (bg: $pj-white,
  fg: map-get($pj-neutral, 700),
  bd: map-get($pj-neutral, 100),
  sdA: map-get($pj-neutral-shadow, 1a),
  sdB: map-get($pj-neutral-shadow, 1b),
  dropdownicon: (fg: map-get($pj-neutral, 400),
  ),
  hover: (bg: map-get($pj-neutral, 50),
    bd: map-get($pj-neutral, 50),
  ),
  pressed: (bg: map-get($pj-neutral, 100),
    bd: map-get($pj-neutral, 100),
  ),
  focused: (fg: $pj-white,
    bg: map-get($pj-secondary, 500),
    bd: map-get($pj-secondary, 500),
    sdA: map-get($pj-neutral-shadow, 1a),
    sdB: map-get($pj-neutral-shadow, 1b),
    dropdownicon: (fg: $pj-white,
    ),
  ),
  error: (fg: map-get($pj-error, 900),
    bg: map-get($pj-error, 10),
    bd: map-get($pj-error, 500),
    sdA: map-get($pj-neutral-shadow, 1a),
    sdB: map-get($pj-neutral-shadow, 1b),
    dropdownicon: (fg: map-get($pj-error, 900),
    ),
  ),
  disabled: (fg: map-get($pj-neutral, 150),
    bg: $pj-white,
    bd: map-get($pj-neutral, 100),
    sdA: map-get($pj-neutral-shadow, 1a),
    sdB: map-get($pj-neutral-shadow, 1b),
    dropdownicon: (fg: map-get($pj-neutral, 150),
    ),
  ),
);

.fieldLabel {
  font: map-get($pj-dropdown-header-font, lg);
  color: map-get($pj-neutral, 800);
}

.pj-dropdown-header {
  border-style: solid;
  border-width: 1px;

  &.notSelected {
    border: 1px solid map-get($pj-error, 300);
  }

  @include pjColorWithMapExt($pj-dropdown-header-style);

  & .dropdownicon {
    @include pjColorWithMapExt($pj-dropdown-header-style, dropdownicon);
  }

  &:hover {
    @include pjColorWithMapExt($pj-dropdown-header-style, hover);
  }

  &.pressed {
    @include pjColorWithMapExt($pj-dropdown-header-style, pressed);
  }

  &.disabled {
    pointer-events: none;
    @include pjColorWithMapExt($pj-dropdown-header-style, disabled);

    & .dropdownicon {
      @include pjColorWithMapExt($pj-dropdown-header-style, disabled, dropdownicon);
    }
  }

  &.focused {
    @include pjColorWithMapExt($pj-dropdown-header-style, focused);

    & .dropdownicon {
      @include pjColorWithMapExt($pj-dropdown-header-style, focused, dropdownicon);
    }
  }

  &.error {
    @include pjColorWithMapExt($pj-dropdown-header-style, error);

    & .dropdownicon {
      @include pjColorWithMapExt($pj-dropdown-header-style, error, dropdownicon);
    }
  }
}

@each $size in $pj-dropdown-header-size {
  .pj-dropdown-header {
    cursor: pointer;

    &.#{$size} {
      @include pjMeasurementWithMapExt($pj-dropdown-header-measurement, $size);

      & .icon {
        font-size: map-get($pj-dropdown-header-icon-size, $size);
      }

      & .image {
        @include pjMeasurementWithMapExt($pj-dropdown-header-measurement, $size, image);
      }

      & .dropdownicon {
        font-size: map-get($pj-dropdown-header-dropdownicon-size, $size);
      }

      & .label {
        font: map-get($pj-dropdown-header-font, $size);
      }
    }
  }
}
