<div class="flex flex-col justify-start gap-1" (click)="onClick($event)">
  <div *ngIf="hasFieldLabel()" class="fieldLabel">{{ getFieldLabel() }}</div>
  <div class="pj-dropdown-header flex flex-row items-center justify-between" [ngClass]="getHeaderClass()"
    pjDefaultSize="md" pjPressable>
    <div class="flex flex-row items-center" [ngClass]="getGapClass()">
      <pj-icon class="icon" *ngIf="hasIcon()" [iconName]="getIconName()"></pj-icon>
      <img *ngIf="hasIamge()" class="image" src="{{ getImageSrc() }}" />
      <div class="label truncate-text-line-1">{{ getLabel() }}</div>
    </div>
    <pj-icon class="dropdownicon" [iconName]="'arrow_drop_down'"></pj-icon>
  </div>
</div>
