@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-field-value-size: (md, lg);

$pj-field-value-font: (
  md: ( v: $pj-label-md, h: $pj-small),
  lg: ( v: $pj-label-lg, h: $pj-body-2),
);

$pj-field-value-style: (
  label: (
    fg: map-get($pj-neutral, 800),
  ),
);
.pj-field-value {
  cursor: default;
}

@each $size in $pj-field-value-size {
  .pj-field-value.#{$size} {
    &.horizontal {
      font: map-get($pj-field-value-font, $size, h);
    }
    &.vertical {
      font: map-get($pj-field-value-font, $size, v);
    }
  }
}

@each $part in (label) {
  .pj-field-value .#{$part} {
    @include pjColorWithMapExt($pj-field-value-style, $part);
  }
}
