@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-address-new-font: (
  label: $pj-strong-2,
);

$pj-address-new-measurement: (
  // width: 260px,
  height: 192px,
  radius: 12px,
  border: 1px,
  linkedPayment: (
    width: 288px,
  ),
);

$pj-address-new-style: (
  bd: map-get($pj-primary, 600),
  label: (
    fg: map-get($pj-primary, 600),
  ),
  icon: (
    fg: map-get($pj-primary, 400),
  ),
);

.pj-address-new {
  cursor: pointer;
  border-style: dashed;
  @include pjMeasurementWithMapExt($pj-address-new-measurement);
  @include pjColorWithMapExt($pj-address-new-style);
  & .label {
    font: map-get($pj-address-new-font, label);
    @include pjColorWithMapExt($pj-address-new-style, label);
  }
  & .icon {
    font-size: 24px;
    @include pjColorWithMapExt($pj-address-new-style, icon);
  }
}
