<div class="title mb-3">Verify your email</div>
<div class="messageSentNotice">To verify your email, we’ve sent a 6-digit verification code to</div>
<div class="loginEmail mb-8">{{loginEmail}}</div>
<pj-codebox class="self-center mb-2" (valueChanged)="onValueChanged($event)" [hasError]="hasError()"></pj-codebox>
<pj-button-cta class="self-center mb-10" btnType="outlined" pjColor="neutral" pjSize="lg" PjCountdown [countTotal]="60"
  [label]="getCountdownLabel()" [disabled]="isResendDisabled()" (click)="onResendBtnClick()">
</pj-button-cta>
<pj-button-cta class="flex-1  mb-3" btnType="filled" pjColor="secondary" pjSize="lg" leftIconName="gpp_good"
  [label]="'Create account'" (click)="onCreateBtnClick()"></pj-button-cta>
<pj-term-notice [brandLabel]="brandLabel" (actionEvent)="onTermNoticeAction($event)"></pj-term-notice>