<div class="pj-video flex flex-col relative" pjPressable [ngStyle]="getVedioFrameStyle()"
  [ngClass]="getLabelPositionClass()">
  <div class="label truncate-text-line-1" *ngIf="hasLabel()">{{ getLabel() }}</div>
  <pj-badge *ngIf="hasBadge()" class="badge" [label]="getBadgeLabel()" pjColor="blackBtn" [pjSize]="getBadgeSize()">
  </pj-badge>
  <pj-icon *ngIf="hasVideoIcon()" class="videoIcon" [iconName]="'camera_alt'" pjSize="lg"></pj-icon>
  <video style="width: 100%; height:100%; object-fit: fill" controls [ngClass]="getVedioPlayerStyle()">
    <source src="{{getVideoSrc()}}" type="{{getVideoType()}}">
  </video>
</div>
