@import "/src/scss/customize";
@import "/src/scss/color";
@import "/src/scss/typography";

$pj-address-item-font: (
  name: $pj-strong-2,
  address: $pj-body-2,
);
$pj-address-item-measurement: (
  height: 64px,
  padding: 8px 12px 8px 12px,
  radius: 8px,
);
$pj-address-item-style: (
  name: (
    fg: map-get($pj-primary, 800),
  ),
  address: (
    fg: map-get($pj-primary, 600),
  ),
);

.pj-address-item {
  cursor: default;
  @include pjMeasurementWithMapExt($pj-address-item-measurement);
  @each $part in (name, address) {
    & .#{$part} {
      font: map-get($pj-address-item-font, $part);
      @include pjColorWithMapExt($pj-address-item-style, $part);
    }
  }
}
